In [1]:
from sqlalchemy import create_engine
import pandas as pd 
import numpy as np
import random
import math

In [2]:
table_name = 'crypto'
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/{table_name}')

df_raw = pd.read_sql_query('select * from klines',con=engine)

In [3]:
df_5min = df_raw.query("period_type == '5min'").reset_index()

In [4]:
def get_day_of_week(df):
    """
    Returns the name of the day of the week for the given day number (0-6)
    """
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    df['local_numeric_day'] =  df['datetime'].apply(lambda x: (x.weekday()) % 7 + 1)
    df['local_day'] =  df['local_numeric_day'].apply(lambda x: days[x-1])
    return df 


def set_action(df, optimum_sell_rewards=15, optimum_buy_rewards=15):
    """
    Adds a new column called 'price_diff' to the given DataFrame,
    containing the difference between the current row's close price and
    the previous row's close price.
    """
    # Create a new column called 'prev_close' that contains the close price from the previous row
    df['prev_close'] = df['close'].shift(1)

    # Compute the difference between the current row's close price and the previous row's close price
    df['price_diff'] = df['close'] - df['prev_close']
    df['sell_rewards'] = df['price_diff'].shift(-1)
    df['buy_rewards'] = (df['price_diff'].shift(-1))*-1
    df['sell_cumulative_rewards'] = df['sell_rewards'].cumsum()
    df['buy_cumulative_rewards'] = df['buy_rewards'].cumsum()
    df['actions'] = -1 # default 0 = buy, 1 = sell, -1 = no action
    df.loc[df['buy_rewards'] >= 5, 'actions'] = 0
    df.loc[df['sell_rewards'] > 5 , 'actions'] = 1
    df.loc[df['actions'] == 1, 'one_time_reward'] = df['sell_rewards']
    df.loc[df['actions'] == 0, 'one_time_reward'] = df['buy_rewards']
    df.loc[df['actions'] == -1, 'one_time_reward'] = 0

    # Return the updated DataFrame
    return df


# normal distribution optimum bin
def get_optimal_normal_distribution_num_bins(df):
    """
    Estimates the optimal number of bins for the 'volume_trade' column
    of the given DataFrame using the Freedman-Diaconis rule, and returns
    the estimated number of bins.
    """
    # Compute the interquartile range of the 'volume_trade' column
    q1, q3 = np.percentile(df['volume_trade'], [25, 75])
    iqr = q3 - q1

    # Estimate the optimal bin width using the Freedman-Diaconis rule
    bin_width = 2 * iqr / np.cbrt(len(df))

    # Compute the estimated number of bins
    num_bins = int(np.ceil((df['volume_trade'].max() - df['volume_trade'].min()) / bin_width))

    # Return the estimated number of bins
    return num_bins


# power law optimum bin 
def get_optimal_pareto_distribution_num_bins(df):
    """
    Estimates the optimal number of bins for the 'volume_trade' column
    of the given DataFrame using the Sturges method for power law distributions,
    and returns the estimated number of bins.
    """
    # Compute the sample size and the maximum value of the 'volume_trade' column
    n = len(df['amount'])
    x_max = df['amount'].max()

    # Estimate the optimal number of bins using the Sturges method
    num_bins = int(np.ceil(np.log2(n) + np.log2(1 + x_max)))

    # Return the estimated number of bins
    return num_bins


def pareto_distribution_bins(df, num_bins):
    """Creates power law bins for the 'volume_trade' column of the given
    DataFrame using the qcut function, and returns the updated DataFrame.
    """
    # Compute the quantiles of the 'volume_trade' column using a power law distribution
    quantiles = pd.qcut(df['amount'], num_bins, labels=False, duplicates='drop')

    # Add a new column to the DataFrame with the bin labels
    df['volume_bins'] = quantiles

    # Return the updated DataFrame
    return df


def encode_time(df):
    """Encodes the time in the given DataFrame as a string representing the time
    in sequential order (hour-minute-second), and returns the updated DataFrame.
    """
    # Convert the 'time' column to a datetime object
    df['time'] = pd.to_datetime(df['datetime'])
    df['date'] = df['datetime'].dt.date

    # Extract the hour, minute, and second from the 'time' column
    df['hour'] = df['time'].dt.hour
    df['minute'] = df['time'].dt.minute
    df['second'] = df['time'].dt.second

    # Convert the hour, minute, and second to strings
    df['hour_str'] = df['hour'].astype(str).str.zfill(2)
    df['minute_str'] = df['minute'].astype(str).str.zfill(2)
    df['second_str'] = df['second'].astype(str).str.zfill(2)

    # Concatenate the hour, minute, and second strings into a single time string
    df['encoded_time'] = df['hour_str'] + '-' + df['minute_str'] + '-' + df['second_str']

    # Drop the original hour, minute, and second columns
    df = df.drop(['hour', 'minute', 'second', 'hour_str', 'minute_str', 'second_str'], axis=1)

    # Return the updated DataFrame with the encoded time string
    return df

In [5]:
df_5min = get_day_of_week(df_5min)
df_5min = set_action(df_5min)
df_5min = pareto_distribution_bins(df_5min, get_optimal_pareto_distribution_num_bins(df_5min))
df_5min = encode_time(df_5min)
df_5min.head()

,level_0,index,id,open,close,high,low,vol,amount,period_type,...,prev_close,price_diff,sell_rewards,buy_rewards,sell_cumulative_rewards,buy_cumulative_rewards,actions,one_time_reward,volume_bins,encoded_time
0,237059,0,1672502400,1202.89,1202.79,1203.14,1202.79,1304.147073,1.084000,5min,...,NaN,NaN,-0.15,0.15,-0.15,0.15,-1,0.0,0,00-00-00
1,237060,1,1672502700,1202.79,1202.64,1202.86,1202.60,19612.445390,16.306101,5min,...,1202.79,-0.15,-0.32,0.32,-0.47,0.47,-1,0.0,7,00-05-00
2,237061,2,1672503000,1202.64,1202.32,1202.64,1202.21,27485.863219,22.856000,5min,...,1202.64,-0.32,-0.32,0.32,-0.79,0.79,-1,0.0,10,00-10-00
3,237062,3,1672503300,1202.20,1202.00,1202.20,1201.00,106878.352877,88.951166,5min,...,1202.32,-0.32,1.22,-1.22,0.43,-0.43,-1,0.0,23,00-15-00
4,237063,4,1672503600,1201.95,1203.22,1203.41,1201.95,102618.915554,85.315059,5min,...,1202.00,1.22,-0.20,0.20,0.23,-0.23,-1,0.0,23,00-20-00

In [6]:
df_5min.columns

Index(['level_0', 'index', 'id', 'open', 'close', 'high', 'low', 'vol',
       'amount', 'period_type', 'date', 'datetime', 'time', 'process_time',
       'local_numeric_day', 'local_day', 'prev_close', 'price_diff',
       'sell_rewards', 'buy_rewards', 'sell_cumulative_rewards',
       'buy_cumulative_rewards', 'actions', 'one_time_reward', 'volume_bins',
       'encoded_time'],
      dtype='object')

In [7]:
df_5min[['date', 'local_day']].groupby("local_day").nunique()

           date
local_day
Friday       21
Monday       22
Saturday     21
Sunday       22
Thursday     21
Tuesday      21
Wednesday    21

In [8]:
df = df_5min.copy()

In [9]:
# Define the state space
num_days = df['local_numeric_day'].nunique()
num_times = df['time'].nunique()
num_volume_bins = df['volume_bins'].nunique()
state_space = np.zeros((num_days, num_times))
train_split = 0.8


# Define the action space
num_action = df['actions'].nunique()
action_space = np.zeros((num_volume_bins, num_action))


# Initialize the Q-values
global Q_star 


# Initialize learning rate, discount factor, exploration
alpha = 0.1
gamma = 0.9
epsilon = 0.1

In [10]:
# Define the reward function
def reward(price_rewards):
    return price_rewards


# Define a function to get the current state
def get_state(day, time, volume_bins, action):
    # concatenate scalar values into a numpy array
    state = np.array((time, day, volume_bins, action))
    print("Get state:", type(state), state.shape, state, state[0], state[1], state[2], state[3])
    return state


def choose_action(state):
    print("Choose action state:", type(state), state, state.shape)
    if random.uniform(0, 1) < epsilon:
        # Randomly choose an action
        action = np.random.choice((0, num_action-1))
    else:
        # Choose the action with highest Q value
        action = np.argmax(Q[state[0]][state[1]][state[2]])
    return action


# Generate the sample data
def generate_sample(df):

    cols = ['local_numeric_day', 'encoded_time', 'volume_bins', 'actions']
    df = df[cols]

    # Get states as tuple
    state_tuple = create_state_tuple(df)

    # Initiate Q table 
    global Q_star 
    Q_star = np.zeros((state_tuple))

    train_data = df[:math.floor(df.shape[0]*train_split)].to_numpy()
    test_data = df[train_data.shape[0]:].to_numpy()

    return train_data, test_data


def train_sarsa(train_data):
    # Define variables to track performance validation
    prev_avg_reward = -1000
    avg_reward = 0
    num_episodes = 0
    
    # Train for multiple episodes until convergence
    while abs(avg_reward - prev_avg_reward) > 0.001:
        prev_avg_reward = avg_reward
        total_reward = 0
        print("Start SARSA")
        
        # Loop through all training data
        for i in range(len(train_data)-1):
            # Get current state and action
            state = get_state(train_data[i][0], train_data[i][1], train_data[i][2], train_data[i][3])
            # action = choose_action(state)
            
            # Get next state and reward
            # next_state = get_state(train_data[i+1][0], train_data[i+1][1], train_data[i+1][2], train_data[i+1][3])
            reward = train_data[i+1][-1] * 0.1
            
            # Choose next action based on epsilon-greedy policy
            # next_action = choose_action(next_state)
            
            # Update Q table
            td_error = reward + gamma * Q[i+1][-1][-1] - Q[i][-1][-1]
            Q[i][-1][-1] += alpha * td_error
        
            total_reward += reward
        
        # Calculate average reward for the current episode
        avg_reward = total_reward / len(train_data)
        num_episodes += 1
        print("Episode:", num_episodes, "Average Reward:", avg_reward)
    
    return Q


def create_state_tuple(df_train):
    '''
    Automatically initiate state tuple based on the number of unique
    values in each state (features) from the given dataframe to ease the initiation of Q table
    '''
    state_list = []

    state_list.append(df_train.shape[0])
    for col in df_train:
        state_list.append(df_train[col].nunique())

    state_tuple = tuple(state_list)

    return state_tuple

In [11]:
rewards = df['one_time_reward'].to_list()

In [12]:
import SARSA_one_state as SARSA

In [13]:
num_states = df['encoded_time'].nunique()
num_actions = df['actions'].nunique()
lr = 0.005
discount_factor = 0.1
epsilon = 0.5
num_episodes = 10000000
num_steps_per_episode = 10
total_rewards = 0
GAMMA = 0.9
print(num_states, num_actions)

sarsa_agent = SARSA.SARSAAgent(
    df,
    learning_rate=lr,
    discount_factor=discount_factor,
    epsilon=epsilon
)

global Q 
sarsa_agent.initialize_q_table(df)
Q = sarsa_agent.q_table
reward_table = sarsa_agent.reward_table

288 3
[[-2.50402685e-01  2.50402685e-01  0.00000000e+00]
 [-7.28859060e-02  7.28859060e-02  0.00000000e+00]
 [-2.76577181e-01  2.76577181e-01  0.00000000e+00]
 [-3.81543624e-01  3.81543624e-01  0.00000000e+00]
 [-6.74496644e-02  6.74496644e-02  0.00000000e+00]
 [-3.72080537e-01  3.72080537e-01  0.00000000e+00]
 [-7.81879195e-02  7.81879195e-02  0.00000000e+00]
 [ 4.33892617e-01 -4.33892617e-01  0.00000000e+00]
 [ 7.99328859e-02 -7.99328859e-02  0.00000000e+00]
 [ 2.02013423e-02 -2.02013423e-02  0.00000000e+00]
 [-2.94630872e-02  2.94630872e-02  0.00000000e+00]
 [ 2.77114094e-01 -2.77114094e-01  0.00000000e+00]
 [ 3.88255034e-01 -3.88255034e-01  0.00000000e+00]
 [ 1.62416107e-01 -1.62416107e-01  0.00000000e+00]
 [-5.67919463e-01  5.67919463e-01  0.00000000e+00]
 [-1.11543624e-01  1.11543624e-01  0.00000000e+00]
 [ 3.68724832e-01 -3.68724832e-01  0.00000000e+00]
 [-7.42953020e-02  7.42953020e-02  0.00000000e+00]
 [ 3.44832215e-01 -3.44832215e-01  0.00000000e+00]
 [ 8.53020134e-02 -8.53020134e-02  0.00000000e+00]
 [-8.53020134e-02  8.53020134e-02  0.00000000e+00]
 [ 6.48322148e-02 -6.48322148e-02  0.00000000e+00]
 [-1.85234899e-02  1.85234899e-02  0.00000000e+00]
 [-9.61073826e-02  9.61073826e-02  0.00000000e+00]
 [-1.00872483e-01  1.00872483e-01  0.00000000e+00]
 [ 6.46308725e-01 -6.46308725e-01  0.00000000e+00]
 [ 3.79798658e-01 -3.79798658e-01  0.00000000e+00]
 [-2.71140940e-02  2.71140940e-02  0.00000000e+00]
 [-1.88120805e-01  1.88120805e-01  0.00000000e+00]
 [-1.98255034e-01  1.98255034e-01  0.00000000e+00]
 [ 2.30268456e-01 -2.30268456e-01  0.00000000e+00]
 [ 4.75637584e-01 -4.75637584e-01  0.00000000e+00]
 [ 2.97651007e-01 -2.97651007e-01  0.00000000e+00]
 [-1.13489933e-01  1.13489933e-01  0.00000000e+00]
 [ 4.88590604e-02 -4.88590604e-02  0.00000000e+00]
 [-2.46241611e-01  2.46241611e-01  0.00000000e+00]
 [-1.90000000e-01  1.90000000e-01  0.00000000e+00]
 [ 1.60067114e-01 -1.60067114e-01  0.00000000e+00]
 [-1.09798658e-01  1.09798658e-01  0.00000000e+00]
 [-1.39395973e-01  1.39395973e-01  0.00000000e+00]
 [-2.07181208e-01  2.07181208e-01  0.00000000e+00]
 [-8.65100671e-02  8.65100671e-02  0.00000000e+00]
 [-2.80939597e-01  2.80939597e-01  0.00000000e+00]
 [ 3.06979866e-01 -3.06979866e-01  0.00000000e+00]
 [-2.59932886e-01  2.59932886e-01  0.00000000e+00]
 [ 3.49530201e-01 -3.49530201e-01  0.00000000e+00]
 [-1.10604027e-01  1.10604027e-01  0.00000000e+00]
 [-6.44563758e-01  6.44563758e-01  0.00000000e+00]
 [ 4.23624161e-01 -4.23624161e-01  0.00000000e+00]
 [-4.18590604e-01  4.18590604e-01  0.00000000e+00]
 [ 5.99463087e-01 -5.99463087e-01  0.00000000e+00]
 [-2.01812081e-01  2.01812081e-01  0.00000000e+00]
 [ 3.06979866e-01 -3.06979866e-01  0.00000000e+00]
 [ 7.01543624e-01 -7.01543624e-01  0.00000000e+00]
 [-6.27046980e-01  6.27046980e-01  0.00000000e+00]
 [-8.69127517e-02  8.69127517e-02  0.00000000e+00]
 [-3.05973154e-01  3.05973154e-01  0.00000000e+00]
 [ 3.18657718e-01 -3.18657718e-01  0.00000000e+00]
 [-2.99932886e-01  2.99932886e-01  0.00000000e+00]
 [-5.67785235e-02  5.67785235e-02  0.00000000e+00]
 [-8.59060403e-02  8.59060403e-02  0.00000000e+00]
 [ 9.54362416e-02 -9.54362416e-02  0.00000000e+00]
 [-1.17785235e-01  1.17785235e-01  0.00000000e+00]
 [-1.35100671e-01  1.35100671e-01  0.00000000e+00]
 [ 2.23691275e-01 -2.23691275e-01  0.00000000e+00]
 [-2.33624161e-01  2.33624161e-01  0.00000000e+00]
 [ 1.84563758e-01 -1.84563758e-01  0.00000000e+00]
 [-5.44966443e-02  5.44966443e-02  0.00000000e+00]
 [-3.52416107e-01  3.52416107e-01  0.00000000e+00]
 [ 4.06778523e-01 -4.06778523e-01  0.00000000e+00]
 [ 1.97785235e-01 -1.97785235e-01  0.00000000e+00]
 [ 3.09395973e-01 -3.09395973e-01  0.00000000e+00]
 [ 2.14496644e-01 -2.14496644e-01  0.00000000e+00]
 [ 2.52953020e-01 -2.52953020e-01  0.00000000e+00]
 [ 4.43825503e-01 -4.43825503e-01  0.00000000e+00]
 [ 1.41879195e-01 -1.41879195e-01  0.00000000e+00]
 [-5.32080537e-01  5.32080537e-01  0.00000000e+00]
 [-2.69395973e-01  2.69395973e-01  0.00000000e+00]
 [ 4.89597315e-01 -4.89597315e-01  0.00000000e+00]
 [ 1.88724832e-01 -1.88724832e-01  0.00000000e+00]
 [-1.93825503e-01  1.93825503e-01  0.00000000e+00]
 [ 1.07852349e-01 -1.07852349e-01  0.00000000e+00]
 [-3.03892617e-01  3.03892617e-01  0.00000000e+00]
 [ 6.49395973e-01 -6.49395973e-01  0.00000000e+00]
 [-1.34228188e-04  1.34228188e-04  0.00000000e+00]
 [ 2.75234899e-01 -2.75234899e-01  0.00000000e+00]
 [-1.96845638e-01  1.96845638e-01  0.00000000e+00]
 [-9.21476510e-02  9.21476510e-02  0.00000000e+00]
 [-5.89261745e-02  5.89261745e-02  0.00000000e+00]
 [ 2.59865772e-01 -2.59865772e-01  0.00000000e+00]
 [ 5.17449664e-02 -5.17449664e-02  0.00000000e+00]
 [-3.10134228e-01  3.10134228e-01  0.00000000e+00]
 [ 1.90604027e-02 -1.90604027e-02  0.00000000e+00]
 [-2.22483221e-01  2.22483221e-01  0.00000000e+00]
 [-2.01208054e-01  2.01208054e-01  0.00000000e+00]
 [ 2.28657718e-01 -2.28657718e-01  0.00000000e+00]
 [-7.57718121e-02  7.57718121e-02  0.00000000e+00]
 [ 5.37583893e-02 -5.37583893e-02  0.00000000e+00]
 [ 4.09664430e-01 -4.09664430e-01  0.00000000e+00]
 [ 6.39731544e-01 -6.39731544e-01  0.00000000e+00]
 [ 5.42281879e-02 -5.42281879e-02  0.00000000e+00]
 [-1.82617450e-01  1.82617450e-01  0.00000000e+00]
 [ 9.86107383e-01 -9.86107383e-01  0.00000000e+00]
 [ 2.38791946e-01 -2.38791946e-01  0.00000000e+00]
 [ 2.24832215e-01 -2.24832215e-01  0.00000000e+00]
 [ 6.14093960e-02 -6.14093960e-02  0.00000000e+00]
 [ 2.97718121e-01 -2.97718121e-01  0.00000000e+00]
 [ 5.07248322e-01 -5.07248322e-01  0.00000000e+00]
 [-5.46174497e-01  5.46174497e-01  0.00000000e+00]
 [-1.36577181e-01  1.36577181e-01  0.00000000e+00]
 [-9.93288591e-03  9.93288591e-03  0.00000000e+00]
 [-2.68590604e-01  2.68590604e-01  0.00000000e+00]
 [-1.24966443e-01  1.24966443e-01  0.00000000e+00]
 [ 2.08724832e-01 -2.08724832e-01  0.00000000e+00]
 [-9.32214765e-02  9.32214765e-02  0.00000000e+00]
 [-3.64429530e-01  3.64429530e-01  0.00000000e+00]
 [-1.45436242e-01  1.45436242e-01  0.00000000e+00]
 [-1.34295302e-01  1.34295302e-01  0.00000000e+00]
 [ 1.87919463e-02 -1.87919463e-02  0.00000000e+00]
 [ 3.37516779e-01 -3.37516779e-01  0.00000000e+00]
 [-4.18791946e-02  4.18791946e-02  0.00000000e+00]
 [-8.60402685e-02  8.60402685e-02  0.00000000e+00]
 [ 3.40939597e-02 -3.40939597e-02  0.00000000e+00]
 [ 1.33422819e-01 -1.33422819e-01  0.00000000e+00]
 [-2.18859060e-01  2.18859060e-01  0.00000000e+00]
 [ 6.79194631e-02 -6.79194631e-02  0.00000000e+00]
 [-6.85906040e-02  6.85906040e-02  0.00000000e+00]
 [-1.23624161e-01  1.23624161e-01  0.00000000e+00]
 [-7.94630872e-02  7.94630872e-02  0.00000000e+00]
 [-6.82550336e-02  6.82550336e-02  0.00000000e+00]
 [ 1.50335570e-02 -1.50335570e-02  0.00000000e+00]
 [-1.80000000e-01  1.80000000e-01  0.00000000e+00]
 [-1.58053691e-01  1.58053691e-01  0.00000000e+00]
 [ 1.38523490e-01 -1.38523490e-01  0.00000000e+00]
 [-1.00671141e-03  1.00671141e-03  0.00000000e+00]
 [ 2.24362416e-01 -2.24362416e-01  0.00000000e+00]
 [ 1.01543624e-01 -1.01543624e-01  0.00000000e+00]
 [-5.97986577e-02  5.97986577e-02  0.00000000e+00]
 [ 1.85906040e-01 -1.85906040e-01  0.00000000e+00]
 [ 1.77852349e-02 -1.77852349e-02  0.00000000e+00]
 [ 9.91275168e-02 -9.91275168e-02  0.00000000e+00]
 [ 6.76510067e-02 -6.76510067e-02  0.00000000e+00]
 [-8.18120805e-02  8.18120805e-02  0.00000000e+00]
 [-1.05570470e-01  1.05570470e-01  0.00000000e+00]
 [-7.23489933e-02  7.23489933e-02  0.00000000e+00]
 [-2.14765101e-02  2.14765101e-02  0.00000000e+00]
 [ 1.00939597e-01 -1.00939597e-01  0.00000000e+00]
 [ 1.51543624e-01 -1.51543624e-01  0.00000000e+00]
 [ 1.56241611e-01 -1.56241611e-01  0.00000000e+00]
 [-3.60402685e-02  3.60402685e-02  0.00000000e+00]
 [-1.21275168e-01  1.21275168e-01  0.00000000e+00]
 [ 2.34228188e-02 -2.34228188e-02  0.00000000e+00]
 [ 4.44966443e-02 -4.44966443e-02  0.00000000e+00]
 [-4.82550336e-02  4.82550336e-02  0.00000000e+00]
 [ 9.08053691e-02 -9.08053691e-02  0.00000000e+00]
 [-1.32885906e-02  1.32885906e-02  0.00000000e+00]
 [ 6.93288591e-02 -6.93288591e-02  0.00000000e+00]
 [-9.12751678e-03  9.12751678e-03  0.00000000e+00]
 [-1.65838926e-01  1.65838926e-01  0.00000000e+00]
 [-1.02617450e-01  1.02617450e-01  0.00000000e+00]
 [-8.12080537e-03  8.12080537e-03  0.00000000e+00]
 [ 2.59060403e-02 -2.59060403e-02  0.00000000e+00]
 [ 4.69127517e-02 -4.69127517e-02  0.00000000e+00]
 [-1.15436242e-01  1.15436242e-01  0.00000000e+00]
 [-1.88590604e-02  1.88590604e-02  0.00000000e+00]
 [-1.70469799e-01  1.70469799e-01  0.00000000e+00]
 [ 1.55167785e-01 -1.55167785e-01  0.00000000e+00]
 [-2.06241611e-01  2.06241611e-01  0.00000000e+00]
 [-4.75167785e-02  4.75167785e-02  0.00000000e+00]
 [ 2.30201342e-02 -2.30201342e-02  0.00000000e+00]
 [-4.69127517e-02  4.69127517e-02  0.00000000e+00]
 [-4.14765101e-02  4.14765101e-02  0.00000000e+00]
 [ 2.64295302e-01 -2.64295302e-01  0.00000000e+00]
 [ 7.97986577e-02 -7.97986577e-02  0.00000000e+00]
 [-4.36912752e-02  4.36912752e-02  0.00000000e+00]
 [-1.16107383e-02  1.16107383e-02  0.00000000e+00]
 [ 1.64093960e-01 -1.64093960e-01  0.00000000e+00]
 [-2.44362416e-01  2.44362416e-01  0.00000000e+00]
 [ 3.69798658e-02 -3.69798658e-02  0.00000000e+00]
 [-5.64429530e-02  5.64429530e-02  0.00000000e+00]
 [-1.28322148e-01  1.28322148e-01  0.00000000e+00]
 [ 1.28322148e-01 -1.28322148e-01  0.00000000e+00]
 [ 1.12080537e-02 -1.12080537e-02  0.00000000e+00]
 [-3.12080537e-02  3.12080537e-02  0.00000000e+00]
 [ 2.82550336e-02 -2.82550336e-02  0.00000000e+00]
 [-2.24295302e-01  2.24295302e-01  0.00000000e+00]
 [ 6.55704698e-02 -6.55704698e-02  0.00000000e+00]
 [ 1.25167785e-01 -1.25167785e-01  0.00000000e+00]
 [ 3.30201342e-02 -3.30201342e-02  0.00000000e+00]
 [ 1.52013423e-01 -1.52013423e-01  0.00000000e+00]
 [-2.26644295e-01  2.26644295e-01  0.00000000e+00]
 [-2.30939597e-01  2.30939597e-01  0.00000000e+00]
 [-4.05503356e-01  4.05503356e-01  0.00000000e+00]
 [-3.45570470e-01  3.45570470e-01  0.00000000e+00]
 [-1.13422819e-01  1.13422819e-01  0.00000000e+00]
 [-1.90872483e-01  1.90872483e-01  0.00000000e+00]
 [ 1.60000000e-01 -1.60000000e-01  0.00000000e+00]
 [ 9.46308725e-03 -9.46308725e-03  0.00000000e+00]
 [-7.09395973e-02  7.09395973e-02  0.00000000e+00]
 [ 2.00402685e-01 -2.00402685e-01  0.00000000e+00]
 [-2.52617450e-01  2.52617450e-01  0.00000000e+00]
 [ 2.46979866e-01 -2.46979866e-01  0.00000000e+00]
 [-2.28322148e-01  2.28322148e-01  0.00000000e+00]
 [ 1.91946309e-01 -1.91946309e-01  0.00000000e+00]
 [-2.72953020e-01  2.72953020e-01  0.00000000e+00]
 [ 1.00335570e-01 -1.00335570e-01  0.00000000e+00]
 [-1.58523490e-01  1.58523490e-01  0.00000000e+00]
 [-8.48322148e-02  8.48322148e-02  0.00000000e+00]
 [ 8.89932886e-02 -8.89932886e-02  0.00000000e+00]
 [-4.56375839e-03  4.56375839e-03  0.00000000e+00]
 [ 3.93959732e-02 -3.93959732e-02  0.00000000e+00]
 [ 1.49530201e-01 -1.49530201e-01  0.00000000e+00]
 [ 1.63624161e-01 -1.63624161e-01  0.00000000e+00]
 [ 6.18120805e-02 -6.18120805e-02  0.00000000e+00]
 [-2.09395973e-02  2.09395973e-02  0.00000000e+00]
 [ 1.20536913e-01 -1.20536913e-01  0.00000000e+00]
 [-1.04563758e-01  1.04563758e-01  0.00000000e+00]
 [-3.02684564e-02  3.02684564e-02  0.00000000e+00]
 [-3.61073826e-02  3.61073826e-02  0.00000000e+00]
 [ 1.35033557e-01 -1.35033557e-01  0.00000000e+00]
 [-2.71543624e-01  2.71543624e-01  0.00000000e+00]
 [-1.39664430e-01  1.39664430e-01  0.00000000e+00]
 [ 3.05906040e-01 -3.05906040e-01  0.00000000e+00]
 [ 1.02348993e-01 -1.02348993e-01  0.00000000e+00]
 [-9.28187919e-02  9.28187919e-02  0.00000000e+00]
 [ 1.95973154e-02 -1.95973154e-02  0.00000000e+00]
 [ 1.06510067e-01 -1.06510067e-01  0.00000000e+00]
 [-2.59932886e-01  2.59932886e-01  0.00000000e+00]
 [ 2.97516779e-01 -2.97516779e-01  0.00000000e+00]
 [-8.46979866e-02  8.46979866e-02  0.00000000e+00]
 [-1.72416107e-01  1.72416107e-01  0.00000000e+00]
 [ 1.97315436e-02 -1.97315436e-02  0.00000000e+00]
 [-6.63087248e-02  6.63087248e-02  0.00000000e+00]
 [-3.59731544e-02  3.59731544e-02  0.00000000e+00]
 [ 1.81879195e-01 -1.81879195e-01  0.00000000e+00]
 [ 6.14093960e-02 -6.14093960e-02  0.00000000e+00]
 [-2.93758389e-01  2.93758389e-01  0.00000000e+00]
 [ 5.14899329e-01 -5.14899329e-01  0.00000000e+00]
 [ 8.10067114e-02 -8.10067114e-02  0.00000000e+00]
 [-1.39731544e-01  1.39731544e-01  0.00000000e+00]
 [ 2.08456376e-01 -2.08456376e-01  0.00000000e+00]
 [ 2.23691275e-01 -2.23691275e-01  0.00000000e+00]
 [ 3.37583893e-02 -3.37583893e-02  0.00000000e+00]
 [ 2.62147651e-01 -2.62147651e-01  0.00000000e+00]
 [ 2.25302013e-01 -2.25302013e-01  0.00000000e+00]
 [ 5.02348993e-01 -5.02348993e-01  0.00000000e+00]
 [-3.59060403e-01  3.59060403e-01  0.00000000e+00]
 [ 1.97315436e-01 -1.97315436e-01  0.00000000e+00]
 [ 4.92617450e-01 -4.92617450e-01  0.00000000e+00]
 [ 9.68456376e-02 -9.68456376e-02  0.00000000e+00]
 [ 4.78523490e-02 -4.78523490e-02  0.00000000e+00]
 [ 2.88724832e-01 -2.88724832e-01  0.00000000e+00]
 [ 1.87248322e-01 -1.87248322e-01  0.00000000e+00]
 [-9.98657718e-02  9.98657718e-02  0.00000000e+00]
 [ 2.11342282e-01 -2.11342282e-01  0.00000000e+00]
 [-3.57248322e-01  3.57248322e-01  0.00000000e+00]
 [ 1.71140940e-02 -1.71140940e-02  0.00000000e+00]
 [ 9.28187919e-02 -9.28187919e-02  0.00000000e+00]
 [-4.95302013e-02  4.95302013e-02  0.00000000e+00]
 [-4.85906040e-02  4.85906040e-02  0.00000000e+00]
 [-2.39060403e-01  2.39060403e-01  0.00000000e+00]
 [-1.84630872e-01  1.84630872e-01  0.00000000e+00]
 [ 9.80536913e-02 -9.80536913e-02  0.00000000e+00]
 [-1.34697987e-01  1.34697987e-01  0.00000000e+00]
 [-3.88590604e-02  3.88590604e-02  0.00000000e+00]
 [ 6.20805369e-02 -6.20805369e-02  0.00000000e+00]
 [-5.90604027e-02  5.90604027e-02  0.00000000e+00]
 [ 3.64899329e-01 -3.64899329e-01  0.00000000e+00]
 [-1.09664430e-01  1.09664430e-01  0.00000000e+00]
 [ 2.86107383e-01 -2.86107383e-01  0.00000000e+00]
 [-3.48255034e-01  3.48255034e-01  0.00000000e+00]
 [-2.86979866e-01  2.86979866e-01  0.00000000e+00]
 [ 1.15496644e+00 -1.15496644e+00  0.00000000e+00]
 [-3.83489933e-01  3.83489933e-01  0.00000000e+00]
 [-3.80402685e-01  3.80402685e-01  0.00000000e+00]
 [ 1.85503356e-01 -1.85503356e-01  0.00000000e+00]
 [ 8.61744966e-02 -8.61744966e-02  0.00000000e+00]
 [ 1.86241611e-01 -1.86241611e-01  0.00000000e+00]
 [ 5.40604027e-01 -5.40604027e-01  0.00000000e+00]
 [ 1.02483221e-01 -1.02483221e-01  0.00000000e+00]
 [-4.81140940e-01  4.81140940e-01  0.00000000e+00]
 [-1.70000000e-01  1.70000000e-01  0.00000000e+00]
 [-1.58590604e-01  1.58590604e-01  0.00000000e+00]
 [-9.52348993e-02  9.52348993e-02  0.00000000e+00]
 [ 2.17852349e-01 -2.17852349e-01  0.00000000e+00]
 [-3.47785235e-01  3.47785235e-01  0.00000000e+00]
 [-6.88590604e-02  6.88590604e-02  0.00000000e+00]
 [ 3.86959459e-01 -3.86959459e-01  0.00000000e+00]]

In [14]:
reward_table.shape

(288, 3)

In [15]:
action_dict = {
	'buy': 0,
	'sell': 1,
	'no_action': 2
}


def policy(Q, sarsa_agent, state, epsilon = 0.1, verbose = False) -> (int, float): 
	best_action = None
	best_value = float('-inf')
	
	# update allowed actions everytime based on agent current holding unit 
	if sarsa_agent.isHolding == False: # indicate can buy/no action but cannot sell
		allowed_actions = ['buy', 'no_action']
	else:
		allowed_actions = ['sell', 'no_action']

	random.shuffle(allowed_actions)

	for action in allowed_actions:
		if verbose:
			print(f"Holding: {sarsa_agent.isHolding}")
			print(f'action: {action}')
			print(f'value: {Q[state][action_dict.get(action)]} vs best_value: {best_value}')
			print(f'new best action: {action}')
		if Q[state][action_dict.get(action)] > best_value:
			best_action = action_dict.get(action)
			best_value = Q[state][best_action] 
				
	
	r_var = random.random()
	if r_var < epsilon:
		if verbose:
			print(f'Choosing random action')
		best_action = action_dict.get(random.choice(allowed_actions))
		best_value = Q[state][best_action]
		
	if verbose:
		print(f'Final action: {best_action}\n')

	return best_action, best_value


# Update Q-value for a state-action pair based on observed rewards and estimated future Q-values
def update_q_value(state, action, reward, next_state, next_action, verbose=False):
    
    if verbose == True:
	    print(f"State: {state}, Action: {action}, Rewards: {reward}, Next_state: {next_state}, Next_action: {next_action}")
    # Check if the (state, action) pair exists in the Q-table
    # if (state, action) not in Q:
    #     Q[(state, action)] = 0.0
    
    # Compute the updated Q-value using the SARSA update equation
    current_q = Q[state, action_dict.get(action)]
    next_q = Q[next_state, action_dict.get(next_action)]
    new_q = current_q + lr * (reward + GAMMA * next_q - current_q)
    
    # Update the Q-value in the Q-table
    Q[state, action_dict.get(action)] = new_q

In [ ]:
# Training loop
# for episode in range(num_episodes):
steps = []
rewards_list = []
steps_list = []

for episode in range(num_episodes):
    current_state = 0  # Starting state
    action, action_value = policy(Q, sarsa_agent, current_state, epsilon)
    # update upcoming allowed actions
    if action == 0:
        sarsa_agent.isHolding = True
    if action == 1:
        sarsa_agent.isHolding = False
    total_rewards = 0

    while (current_state != Q.shape[0] - 1):
        rewards = reward_table[current_state][action]
        total_rewards += rewards
        steps.append(action)
        next_state = current_state + 1 
        next_action, next_action_value = policy(Q, sarsa_agent, next_state, epsilon)
        update_q_value(current_state, action, rewards, next_state, next_action)

        # print(f'After update:, action: {action}, action_value : {action_value}, next_action: {next_action}, next_action_value: {next_action_value}\n')
        # update upcoming allowed actions
        if next_action == 0:
            sarsa_agent.isHolding = True
        if next_action == 1:
            sarsa_agent.isHolding = False

        current_state = next_state
        action = next_action 
        action_value = next_action_value

    rewards_list.append(total_rewards)
    steps_list.append(steps)

In [16]:
df_check = pd.DataFrame(rewards_list, columns=['rewards'])
df_check.describe()

NameError: name 'rewards_list' is not defined

In [ ]:
max_value_index = rewards_list.index(max(rewards_list))
print(max_value_index)

8443

In [ ]:
steps_list[max_value_index]

[0,
 2,
 2,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 2,
 2,
 1,
 0,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 2,
 1,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 0,
 2,
 2,
 1,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 2,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 ...]

In [17]:
Q

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [205]:
# Check if each row has different values
is_different = np.all(np.diff(Q, axis=1), axis=1)

# Display the result
print(is_different)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False]

In [206]:
df.head()

,level_0,index,id,open,close,high,low,vol,amount,period_type,...,prev_close,price_diff,sell_rewards,buy_rewards,sell_cumulative_rewards,buy_cumulative_rewards,actions,one_time_reward,volume_bins,encoded_time
0,237059,0,1672502400,1202.89,1202.79,1203.14,1202.79,1304.147073,1.084000,5min,...,NaN,NaN,-0.15,0.15,-0.15,0.15,-1,0.0,0,00-00-00
1,237060,1,1672502700,1202.79,1202.64,1202.86,1202.60,19612.445390,16.306101,5min,...,1202.79,-0.15,-0.32,0.32,-0.47,0.47,-1,0.0,7,00-05-00
2,237061,2,1672503000,1202.64,1202.32,1202.64,1202.21,27485.863219,22.856000,5min,...,1202.64,-0.32,-0.32,0.32,-0.79,0.79,-1,0.0,10,00-10-00
3,237062,3,1672503300,1202.20,1202.00,1202.20,1201.00,106878.352877,88.951166,5min,...,1202.32,-0.32,1.22,-1.22,0.43,-0.43,-1,0.0,23,00-15-00
4,237063,4,1672503600,1201.95,1203.22,1203.41,1201.95,102618.915554,85.315059,5min,...,1202.00,1.22,-0.20,0.20,0.23,-0.23,-1,0.0,23,00-20-00

***Perform price and volume aggregation for monthly daily basis reward table***

In [18]:
# the trade volumes here originally is "amount", total usd price is "vol"
# will rename after retrieved from the dataframe
desired_col = [ 
    'date', 
    'time', 
    'local_numeric_day', 
    'amount',
    'vol',
    'sell_rewards', 
    'buy_rewards', 
    'sell_cumulative_rewards', 
    'buy_cumulative_rewards',
    'actions',
    'volume_bins',
    'encoded_time'
]

renamed_col = [ 
    'date', 
    'time', 
    'local_numeric_day', 
    'trade_volumes',
    'trade_total_price',
    'sell_rewards', 
    'buy_rewards', 
    'sell_cumulative_rewards', 
    'buy_cumulative_rewards',
    'actions',
    'volume_bins',
    'encoded_time'
]


df_volumes = df[desired_col]
df_volumes.columns = renamed_col

In [19]:
from datetime import date 

def convert_to_first_day_of_month(df, date_column_name):
    # convert to datetime format
    starting_month_list = df[date_column_name].apply(lambda x: date(x.year, x.month, 1))
    return starting_month_list

def get_week_of_month(df, date_column_name) -> list:

    def compute_week_of_month(date_value):
        first_day = date(date_value.year, date_value.month, 1)
        offset = (date_value.weekday() + 1 - first_day.weekday()) % 7
        week_of_month = (date_value.day + offset - 1) // 7 + 1
        return week_of_month

    week_of_month_list = df[date_column_name].apply(lambda x: compute_week_of_month(x))

    return week_of_month_list

In [20]:
df_volumes['starting_month'] = convert_to_first_day_of_month(df, 'date')
df_volumes['week_of_month'] = get_week_of_month(df, 'date')

C:\Users\USER\AppData\Local\Temp\ipykernel_3060\877107850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volumes['starting_month'] = convert_to_first_day_of_month(df, 'date')
C:\Users\USER\AppData\Local\Temp\ipykernel_3060\877107850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volumes['week_of_month'] = get_week_of_month(df, 'date')

In [21]:
df_volumes.head()

,date,time,local_numeric_day,trade_volumes,trade_total_price,sell_rewards,buy_rewards,sell_cumulative_rewards,buy_cumulative_rewards,actions,volume_bins,encoded_time,starting_month,week_of_month
0,2023-01-01,2023-01-01 00:00:00,7,1.084000,1304.147073,-0.15,0.15,-0.15,0.15,-1,0,00-00-00,2023-01-01,1
1,2023-01-01,2023-01-01 00:05:00,7,16.306101,19612.445390,-0.32,0.32,-0.47,0.47,-1,7,00-05-00,2023-01-01,1
2,2023-01-01,2023-01-01 00:10:00,7,22.856000,27485.863219,-0.32,0.32,-0.79,0.79,-1,10,00-10-00,2023-01-01,1
3,2023-01-01,2023-01-01 00:15:00,7,88.951166,106878.352877,1.22,-1.22,0.43,-0.43,-1,23,00-15-00,2023-01-01,1
4,2023-01-01,2023-01-01 00:20:00,7,85.315059,102618.915554,-0.20,0.20,0.23,-0.23,-1,23,00-20-00,2023-01-01,1

**Start aggregating the trading data**

***Based on year, month, day, time to see the max, min, average, median, sd of the price and volumes***

In [63]:
volume_cols = ['week_of_month', 'local_numeric_day', 'encoded_time', 'trade_volumes']
price_cols = ['week_of_month', 'local_numeric_day', 'encoded_time', 'trade_volumes', 'trade_total_price']
reward_cols = ['week_of_month', 'local_numeric_day', 'encoded_time', 'sell_rewards', 'buy_rewards', 'actions']

groupby_keys = ['week_of_month', 'local_numeric_day', 'encoded_time']

df_volume_stats = df_volumes[volume_cols].groupby(groupby_keys).describe().reset_index()

df_price = df_volumes[price_cols].groupby(groupby_keys).sum()
df_price['daily_average_trade_total_price'] = df_price['trade_total_price'] / df_price['trade_volumes']
df_price = df_price.drop(columns=['trade_volumes', 'trade_total_price'])
df_price_stats = df_price.groupby(groupby_keys).mean()

df_reward_stats = df_volumes[reward_cols[:-1]].groupby(groupby_keys).describe().reset_index()

In [64]:
df_volume_stats.head()

  week_of_month local_numeric_day encoded_time trade_volumes
                                                       count        mean
0             1                 1     00-00-00           3.0  137.067107  \
1             1                 1     00-05-00           3.0   44.429816
2             1                 1     00-10-00           3.0   44.109580
3             1                 1     00-15-00           3.0   53.369440
4             1                 1     00-20-00           3.0   47.911949


          std        min        25%        50%         75%         max
0  192.701362  23.103611  25.821994  28.540377  194.048854  359.557332
1   57.754143   9.098558  11.105586  13.112615   62.095445  111.078276
2   50.298957   6.983346  15.487539  23.991731   62.672697  101.353664
3   39.617225  27.311900  30.574100  33.836300   66.398210   98.960120
4   38.865384   3.097244  35.677524  68.257803   70.319302   72.380800

In [65]:
df_price_stats.head()

                                              daily_average_trade_total_price
week_of_month local_numeric_day encoded_time
1             1                 00-00-00                          1870.249402
                                00-05-00                          1867.227687
                                00-10-00                          1867.223181
                                00-15-00                          1776.303339
                                00-20-00                          1845.962931

In [66]:
df_reward_stats.head()

  week_of_month local_numeric_day encoded_time sell_rewards
                                                      count      mean
0             1                 1     00-00-00          3.0  0.316667  \
1             1                 1     00-05-00          3.0 -1.453333
2             1                 1     00-10-00          3.0  0.093333
3             1                 1     00-15-00          3.0 -0.473333
4             1                 1     00-20-00          3.0 -2.763333

                                            buy_rewards
        std   min    25%   50%    75%   max       count      mean       std
0  1.486282 -1.28 -0.355  0.57  1.115  1.66         3.0 -0.316667  1.486282  \
1  0.603435 -1.86 -1.800 -1.74 -1.250 -0.76         3.0  1.453333  0.603435
2  1.900851 -2.09 -0.550  0.99  1.185  1.38         3.0 -0.093333  1.900851
3  1.817865 -2.55 -1.125  0.30  0.565  0.83         3.0  0.473333  1.817865
4  3.730688 -6.85 -4.375 -1.90 -0.720  0.46         3.0  2.763333  3.730688


    min    25%   50%    75%   max
0 -1.66 -1.115 -0.57  0.355  1.28
1  0.76  1.250  1.74  1.800  1.86
2 -1.38 -1.185 -0.99  0.550  2.09
3 -0.83 -0.565 -0.30  1.125  2.55
4 -0.46  0.720  1.90  4.375  6.85

In [67]:
df_reward_stats[['week_of_month', 'local_numeric_day', 'encoded_time']]\
.reset_index()\
.groupby(['week_of_month', 'local_numeric_day'])\
.nunique()

C:\Users\USER\AppData\Local\Temp\ipykernel_3060\2612709224.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df_reward_stats[['week_of_month', 'local_numeric_day', 'encoded_time']]\

                                index encoded_time

week_of_month local_numeric_day
1             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288
2             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288
3             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288
4             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288
5             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288

***Create nested reward table***

***Keep the df_price_stats and df_volume_stats for reference***

In [68]:
df_reward_stats.head()

  week_of_month local_numeric_day encoded_time sell_rewards
                                                      count      mean
0             1                 1     00-00-00          3.0  0.316667  \
1             1                 1     00-05-00          3.0 -1.453333
2             1                 1     00-10-00          3.0  0.093333
3             1                 1     00-15-00          3.0 -0.473333
4             1                 1     00-20-00          3.0 -2.763333

                                            buy_rewards
        std   min    25%   50%    75%   max       count      mean       std
0  1.486282 -1.28 -0.355  0.57  1.115  1.66         3.0 -0.316667  1.486282  \
1  0.603435 -1.86 -1.800 -1.74 -1.250 -0.76         3.0  1.453333  0.603435
2  1.900851 -2.09 -0.550  0.99  1.185  1.38         3.0 -0.093333  1.900851
3  1.817865 -2.55 -1.125  0.30  0.565  0.83         3.0  0.473333  1.817865
4  3.730688 -6.85 -4.375 -1.90 -0.720  0.46         3.0  2.763333  3.730688


    min    25%   50%    75%   max
0 -1.66 -1.115 -0.57  0.355  1.28
1  0.76  1.250  1.74  1.800  1.86
2 -1.38 -1.185 -0.99  0.550  2.09
3 -0.83 -0.565 -0.30  1.125  2.55
4 -0.46  0.720  1.90  4.375  6.85

***Start creating nested reward table from here***

In [179]:
df_sell_rewards = df_reward_stats['sell_rewards'][['mean']].copy()
df_buy_rewards = df_reward_stats['buy_rewards'][['mean']].copy()

In [180]:
df_sell_rewards.head()

       mean
0  0.316667
1 -1.453333
2  0.093333
3 -0.473333
4 -2.763333

In [181]:
sell_cols = ['sell_rewards']
buy_cols = ['buy_rewards']
df_sell_rewards.columns = sell_cols
df_buy_rewards.columns = buy_cols

In [182]:
df_sell_rewards.head()

   sell_rewards
0      0.316667
1     -1.453333
2      0.093333
3     -0.473333
4     -2.763333

In [183]:
df_buy_rewards.head()

   buy_rewards
0    -0.316667
1     1.453333
2    -0.093333
3     0.473333
4     2.763333

In [184]:
#df_nested_rewards = pd.merge([df_reward_stats[['week_of_month', 'local_numeric_day', 'encoded_time']], df_sell_rewards, df_buy_rewards],).reset_index()
df_nested_rewards = pd.concat([df_reward_stats[['week_of_month', 'local_numeric_day', 'encoded_time']], df_sell_rewards, df_buy_rewards], axis=1)

# rename column to remove the tuple-like hierachy syntax for easier retrieve
rename_cols = ['week_of_month', 'local_numeric_day', 'encoded_time', 'sell_rewards', 'buy_rewards']
df_nested_rewards.columns = rename_cols
df_nested_rewards.head()

   week_of_month  local_numeric_day encoded_time  sell_rewards  buy_rewards
0              1                  1     00-00-00      0.316667    -0.316667
1              1                  1     00-05-00     -1.453333     1.453333
2              1                  1     00-10-00      0.093333    -0.093333
3              1                  1     00-15-00     -0.473333     0.473333
4              1                  1     00-20-00     -2.763333     2.763333

In [185]:
# Create a custom aggregation function to fill in values based on conditions
def fill_values(column):
    if column[column > 0].empty:
        return None
    return column[column > 0].values[0]

# Pivot the DataFrame
df_pivoted_rewards = pd.pivot_table(df_nested_rewards, values=['sell_rewards', 'buy_rewards'], index=['week_of_month', 'local_numeric_day', 'encoded_time'],
                            aggfunc=fill_values).reset_index()
df_pivoted_rewards = df_pivoted_rewards.rename(columns={'sell_rewards': 'sell_action', 'buy_rewards': 'buy_action'})
df_pivoted_rewards.head()

   week_of_month  local_numeric_day encoded_time  buy_action  sell_action
0              1                  1     00-00-00         NaN     0.316667
1              1                  1     00-05-00    1.453333          NaN
2              1                  1     00-10-00         NaN     0.093333
3              1                  1     00-15-00    0.473333          NaN
4              1                  1     00-20-00    2.763333          NaN

In [186]:
# assign reverse action reward for NaN value 
df_pivoted_rewards['buy_action'] = df_pivoted_rewards['buy_action'].fillna(df_pivoted_rewards['sell_action']*-1)
df_pivoted_rewards['sell_action'] = df_pivoted_rewards['sell_action'].fillna(df_pivoted_rewards['buy_action']*-1)
df_pivoted_rewards.head()

   week_of_month  local_numeric_day encoded_time  buy_action  sell_action
0              1                  1     00-00-00   -0.316667     0.316667
1              1                  1     00-05-00    1.453333    -1.453333
2              1                  1     00-10-00   -0.093333     0.093333
3              1                  1     00-15-00    0.473333    -0.473333
4              1                  1     00-20-00    2.763333    -2.763333

In [187]:
# add in no action reward value 
df_pivoted_rewards['no_action'] = 0
df_pivoted_rewards.head()

,week_of_month,local_numeric_day,encoded_time,buy_action,sell_action,no_action
0,1,1,00-00-00,-0.316667,0.316667,0
1,1,1,00-05-00,1.453333,-1.453333,0
2,1,1,00-10-00,-0.093333,0.093333,0
3,1,1,00-15-00,0.473333,-0.473333,0
4,1,1,00-20-00,2.763333,-2.763333,0

In [188]:
# transform encoded time into scalar value for easier indexing
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df_pivoted_rewards['label_encoded_time'] = encoder.fit_transform(df_pivoted_rewards[['encoded_time']])
df_pivoted_rewards.head()

c:\Users\USER\jhinn-ml\reinforcement-learning\venv\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,week_of_month,local_numeric_day,encoded_time,buy_action,sell_action,no_action,label_encoded_time
0,1,1,00-00-00,-0.316667,0.316667,0,0
1,1,1,00-05-00,1.453333,-1.453333,0,1
2,1,1,00-10-00,-0.093333,0.093333,0,2
3,1,1,00-15-00,0.473333,-0.473333,0,3
4,1,1,00-20-00,2.763333,-2.763333,0,4

In [189]:
df_pivoted_rewards.nunique()

week_of_month            5
local_numeric_day        7
encoded_time           288
buy_action            6944
sell_action           6944
no_action                1
label_encoded_time     288
dtype: int64

In [190]:
df_pivoted_rewards.head()

,week_of_month,local_numeric_day,encoded_time,buy_action,sell_action,no_action,label_encoded_time
0,1,1,00-00-00,-0.316667,0.316667,0,0
1,1,1,00-05-00,1.453333,-1.453333,0,1
2,1,1,00-10-00,-0.093333,0.093333,0,2
3,1,1,00-15-00,0.473333,-0.473333,0,3
4,1,1,00-20-00,2.763333,-2.763333,0,4

In [197]:
# get the unique value of each column for each state 
state_unique_counts = df_pivoted_rewards.nunique()

# initialize shape size
state_array_shape = tuple(state_unique_counts[:3])
# add 3 unique actions 
state_array_shape += (num_action ,)
print("State array shape:", state_array_shape)

# create the array with the initialized shape size 
state_array = np.zeros(state_array_shape)

# start padding reward value into each state respectively
# Iterate over the rows of the DataFrame
for index, row in df_pivoted_rewards.iterrows():
    week_index = row['week_of_month']-1
    day_index = row['local_numeric_day']-1
    time_index = row['label_encoded_time']-1
    value = [row['buy_action'], row['sell_action'], row['no_action']]
    state_array[week_index, day_index, time_index] = value

state_array[0]

State array shape: (5, 7, 288, 3)

array([[[ 1.45333333, -1.45333333,  0.        ],
        [-0.09333333,  0.09333333,  0.        ],
        [ 0.47333333, -0.47333333,  0.        ],
        ...,
        [-0.22      ,  0.22      ,  0.        ],
        [-0.97666667,  0.97666667,  0.        ],
        [-0.31666667,  0.31666667,  0.        ]],

       [[-0.21      ,  0.21      ,  0.        ],
        [-1.5625    ,  1.5625    ,  0.        ],
        [ 2.3475    , -2.3475    ,  0.        ],
        ...,
        [ 0.79      , -0.79      ,  0.        ],
        [-0.6575    ,  0.6575    ,  0.        ],
        [ 1.975     , -1.975     ,  0.        ]],

       [[ 2.61333333, -2.61333333,  0.        ],
        [-0.99666667,  0.99666667,  0.        ],
        [-0.12666667,  0.12666667,  0.        ],
        ...,
        [-0.67      ,  0.67      ,  0.        ],
        [ 0.63      , -0.63      ,  0.        ],
        [-0.13      ,  0.13      ,  0.        ]],

       ...,

       [[ 1.18      , -1.18      ,  0.        ],
        [-1.17333333,  1.17333333,  0.        ],
        [-1.42333333,  1.42333333,  0.        ],
        ...,
        [-0.79666667,  0.79666667,  0.        ],
        [-0.25666667,  0.25666667,  0.        ],
        [ 1.47666667, -1.47666667,  0.        ]],

       [[ 0.68      , -0.68      ,  0.        ],
        [ 0.52      , -0.52      ,  0.        ],
        [ 0.445     , -0.445     ,  0.        ],
        ...,
        [-0.595     ,  0.595     ,  0.        ],
        [ 0.52      , -0.52      ,  0.        ],
        [ 2.44      , -2.44      ,  0.        ]],

       [[-1.09666667,  1.09666667,  0.        ],
        [ 0.46      , -0.46      ,  0.        ],
        [-0.23666667,  0.23666667,  0.        ],
        ...,
        [ 0.01666667, -0.01666667,  0.        ],
        [ 0.09      , -0.09      ,  0.        ],
        [-0.67333333,  0.67333333,  0.        ]]])

In [200]:
# assign state array to be reward array for easier reference
reward_array = state_array.copy()

In [ ]:
# Start modifying the SARSA nested state iteration from here