In [1]:
from sqlalchemy import create_engine
import pandas as pd 
import numpy as np
import random
import math

In [2]:
table_name = 'crypto'
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/{table_name}')

df_raw = pd.read_sql_query('select * from klines',con=engine)

In [3]:
df_5min = df_raw.query("period_type == '5min'").reset_index()

In [4]:
def get_day_of_week(df):
    """
    Returns the name of the day of the week for the given day number (0-6)
    """
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    df['local_numeric_day'] =  df['datetime'].apply(lambda x: (x.weekday()) % 7 + 1)
    df['local_day'] =  df['local_numeric_day'].apply(lambda x: days[x-1])
    return df 


def set_action(df, optimum_sell_rewards=15, optimum_buy_rewards=15):
    """
    Adds a new column called 'price_diff' to the given DataFrame,
    containing the difference between the current row's close price and
    the previous row's close price.
    """
    # Create a new column called 'prev_close' that contains the close price from the previous row
    df['prev_close'] = df['close'].shift(1)

    # Compute the difference between the current row's close price and the previous row's close price
    df['price_diff'] = df['close'] - df['prev_close']
    df['sell_rewards'] = df['price_diff'].shift(-1)
    df['buy_rewards'] = (df['price_diff'].shift(-1))*-1
    df['sell_cumulative_rewards'] = df['sell_rewards'].cumsum()
    df['buy_cumulative_rewards'] = df['buy_rewards'].cumsum()
    df['actions'] = -1 # default 0 = buy, 1 = sell, -1 = no action
    df.loc[df['buy_rewards'] >= 5, 'actions'] = 0
    df.loc[df['sell_rewards'] > 5 , 'actions'] = 1
    df.loc[df['actions'] == 1, 'one_time_reward'] = df['sell_rewards']
    df.loc[df['actions'] == 0, 'one_time_reward'] = df['buy_rewards']
    df.loc[df['actions'] == -1, 'one_time_reward'] = 0

    # Return the updated DataFrame
    return df


# normal distribution optimum bin
def get_optimal_normal_distribution_num_bins(df):
    """
    Estimates the optimal number of bins for the 'volume_trade' column
    of the given DataFrame using the Freedman-Diaconis rule, and returns
    the estimated number of bins.
    """
    # Compute the interquartile range of the 'volume_trade' column
    q1, q3 = np.percentile(df['volume_trade'], [25, 75])
    iqr = q3 - q1

    # Estimate the optimal bin width using the Freedman-Diaconis rule
    bin_width = 2 * iqr / np.cbrt(len(df))

    # Compute the estimated number of bins
    num_bins = int(np.ceil((df['volume_trade'].max() - df['volume_trade'].min()) / bin_width))

    # Return the estimated number of bins
    return num_bins


# power law optimum bin 
def get_optimal_pareto_distribution_num_bins(df):
    """
    Estimates the optimal number of bins for the 'volume_trade' column
    of the given DataFrame using the Sturges method for power law distributions,
    and returns the estimated number of bins.
    """
    # Compute the sample size and the maximum value of the 'volume_trade' column
    n = len(df['amount'])
    x_max = df['amount'].max()

    # Estimate the optimal number of bins using the Sturges method
    num_bins = int(np.ceil(np.log2(n) + np.log2(1 + x_max)))

    # Return the estimated number of bins
    return num_bins


def pareto_distribution_bins(df, num_bins):
    """Creates power law bins for the 'volume_trade' column of the given
    DataFrame using the qcut function, and returns the updated DataFrame.
    """
    # Compute the quantiles of the 'volume_trade' column using a power law distribution
    quantiles = pd.qcut(df['amount'], num_bins, labels=False, duplicates='drop')

    # Add a new column to the DataFrame with the bin labels
    df['volume_bins'] = quantiles

    # Return the updated DataFrame
    return df


def encode_time(df):
    """Encodes the time in the given DataFrame as a string representing the time
    in sequential order (hour-minute-second), and returns the updated DataFrame.
    """
    # Convert the 'time' column to a datetime object
    df['time'] = pd.to_datetime(df['datetime'])
    df['date'] = df['datetime'].dt.date

    # Extract the hour, minute, and second from the 'time' column
    df['hour'] = df['time'].dt.hour
    df['minute'] = df['time'].dt.minute
    df['second'] = df['time'].dt.second

    # Convert the hour, minute, and second to strings
    df['hour_str'] = df['hour'].astype(str).str.zfill(2)
    df['minute_str'] = df['minute'].astype(str).str.zfill(2)
    df['second_str'] = df['second'].astype(str).str.zfill(2)

    # Concatenate the hour, minute, and second strings into a single time string
    df['encoded_time'] = df['hour_str'] + '-' + df['minute_str'] + '-' + df['second_str']

    # Drop the original hour, minute, and second columns
    df = df.drop(['hour', 'minute', 'second', 'hour_str', 'minute_str', 'second_str'], axis=1)

    # Return the updated DataFrame with the encoded time string
    return df

In [5]:
df_5min = get_day_of_week(df_5min)
df_5min = set_action(df_5min)
df_5min = pareto_distribution_bins(df_5min, get_optimal_pareto_distribution_num_bins(df_5min))
df_5min = encode_time(df_5min)
df_5min.head()

,level_0,index,id,open,close,high,low,vol,amount,period_type,...,prev_close,price_diff,sell_rewards,buy_rewards,sell_cumulative_rewards,buy_cumulative_rewards,actions,one_time_reward,volume_bins,encoded_time
0,237059,0,1672502400,1202.89,1202.79,1203.14,1202.79,1304.147073,1.084000,5min,...,NaN,NaN,-0.15,0.15,-0.15,0.15,-1,0.0,0,00-00-00
1,237060,1,1672502700,1202.79,1202.64,1202.86,1202.60,19612.445390,16.306101,5min,...,1202.79,-0.15,-0.32,0.32,-0.47,0.47,-1,0.0,7,00-05-00
2,237061,2,1672503000,1202.64,1202.32,1202.64,1202.21,27485.863219,22.856000,5min,...,1202.64,-0.32,-0.32,0.32,-0.79,0.79,-1,0.0,10,00-10-00
3,237062,3,1672503300,1202.20,1202.00,1202.20,1201.00,106878.352877,88.951166,5min,...,1202.32,-0.32,1.22,-1.22,0.43,-0.43,-1,0.0,23,00-15-00
4,237063,4,1672503600,1201.95,1203.22,1203.41,1201.95,102618.915554,85.315059,5min,...,1202.00,1.22,-0.20,0.20,0.23,-0.23,-1,0.0,23,00-20-00

In [6]:
df_5min.columns

Index(['level_0', 'index', 'id', 'open', 'close', 'high', 'low', 'vol',
       'amount', 'period_type', 'date', 'datetime', 'time', 'process_time',
       'local_numeric_day', 'local_day', 'prev_close', 'price_diff',
       'sell_rewards', 'buy_rewards', 'sell_cumulative_rewards',
       'buy_cumulative_rewards', 'actions', 'one_time_reward', 'volume_bins',
       'encoded_time'],
      dtype='object')

In [7]:
df_5min[['date', 'local_day']].groupby("local_day").nunique()

           date
local_day
Friday       21
Monday       22
Saturday     21
Sunday       22
Thursday     21
Tuesday      21
Wednesday    21

In [8]:
df = df_5min.copy()

In [9]:
# Define the state space
num_days = df['local_numeric_day'].nunique()
num_times = df['time'].nunique()
num_volume_bins = df['volume_bins'].nunique()
state_space = np.zeros((num_days, num_times))
train_split = 0.8


# Define the action space
num_action = df['actions'].nunique()
action_space = np.zeros((num_volume_bins, num_action))


# Initialize the Q-values
global Q_star 


# Initialize learning rate, discount factor, exploration
alpha = 0.1
gamma = 0.9
epsilon = 0.1

In [10]:
# Define the reward function
def reward(price_rewards):
    return price_rewards


# Define a function to get the current state
def get_state(day, time, volume_bins, action):
    # concatenate scalar values into a numpy array
    state = np.array((time, day, volume_bins, action))
    print("Get state:", type(state), state.shape, state, state[0], state[1], state[2], state[3])
    return state


def choose_action(state):
    print("Choose action state:", type(state), state, state.shape)
    if random.uniform(0, 1) < epsilon:
        # Randomly choose an action
        action = np.random.choice((0, num_action-1))
    else:
        # Choose the action with highest Q value
        action = np.argmax(Q[state[0]][state[1]][state[2]])
    return action


# Generate the sample data
def generate_sample(df):

    cols = ['local_numeric_day', 'encoded_time', 'volume_bins', 'actions']
    df = df[cols]

    # Get states as tuple
    state_tuple = create_state_tuple(df)

    # Initiate Q table 
    global Q_star 
    Q_star = np.zeros((state_tuple))

    train_data = df[:math.floor(df.shape[0]*train_split)].to_numpy()
    test_data = df[train_data.shape[0]:].to_numpy()

    return train_data, test_data


def train_sarsa(train_data):
    # Define variables to track performance validation
    prev_avg_reward = -1000
    avg_reward = 0
    num_episodes = 0
    
    # Train for multiple episodes until convergence
    while abs(avg_reward - prev_avg_reward) > 0.001:
        prev_avg_reward = avg_reward
        total_reward = 0
        print("Start SARSA")
        
        # Loop through all training data
        for i in range(len(train_data)-1):
            # Get current state and action
            state = get_state(train_data[i][0], train_data[i][1], train_data[i][2], train_data[i][3])
            # action = choose_action(state)
            
            # Get next state and reward
            # next_state = get_state(train_data[i+1][0], train_data[i+1][1], train_data[i+1][2], train_data[i+1][3])
            reward = train_data[i+1][-1] * 0.1
            
            # Choose next action based on epsilon-greedy policy
            # next_action = choose_action(next_state)
            
            # Update Q table
            td_error = reward + gamma * Q[i+1][-1][-1] - Q[i][-1][-1]
            Q[i][-1][-1] += alpha * td_error
        
            total_reward += reward
        
        # Calculate average reward for the current episode
        avg_reward = total_reward / len(train_data)
        num_episodes += 1
        print("Episode:", num_episodes, "Average Reward:", avg_reward)
    
    return Q


def create_state_tuple(df_train):
    '''
    Automatically initiate state tuple based on the number of unique
    values in each state (features) from the given dataframe to ease the initiation of Q table
    '''
    state_list = []

    state_list.append(df_train.shape[0])
    for col in df_train:
        state_list.append(df_train[col].nunique())

    state_tuple = tuple(state_list)

    return state_tuple

In [11]:
rewards = df['one_time_reward'].to_list()

In [12]:
import SARSA_one_state as SARSA

In [13]:
reward_table.shape

NameError: name 'reward_table' is not defined

In [14]:
action_dict = {
	'buy': 0,
	'sell': 1,
	'no_action': 2
}


def policy(Q, sarsa_agent, state, epsilon = 0.1, verbose = False) -> (int, float): 
	best_action = None
	best_value = float('-inf')
	
	# update allowed actions everytime based on agent current holding unit 
	if sarsa_agent.isHolding == False: # indicate can buy/no action but cannot sell
		allowed_actions = ['buy', 'no_action']
	else:
		allowed_actions = ['sell', 'no_action']

	random.shuffle(allowed_actions)

	for action in allowed_actions:
		if verbose:
			print(f"Holding: {sarsa_agent.isHolding}")
			print(f'action: {action}')
			print(f'value: {Q[state][action_dict.get(action)]} vs best_value: {best_value}')
			print(f'new best action: {action}')
		if Q[state][action_dict.get(action)] > best_value:
			best_action = action_dict.get(action)
			best_value = Q[state][best_action]
				
	r_var = random.random()
	if r_var < epsilon:
		if verbose:
			print(f'Choosing random action')
		best_action = action_dict.get(random.choice(allowed_actions))
		best_value = Q[state][best_action]
		
	if verbose:
		print(f'Final action: {best_action}\n')

	return best_action, best_value


# Update Q-value for a state-action pair based on observed rewards and estimated future Q-values
def update_q_value(state:tuple, action:int, rewards:list, rewards_value:float, next_state:tuple, next_action:int, verbose=False):

	if verbose == True:
		print(f"State: {state}, Action: {action}, Rewards: {rewards}, Next_state: {next_state}, Next_action: {next_action}")
		
	# Compute the updated Q-value using the SARSA update equation
	current_q = Q[state][action_dict.get(action)]

	# Additional reward if have been making profit of at least 20 usd
	if sum(rewards) >= 20: current_q += 100
	next_q = Q[next_state][action_dict.get(next_action)]
	new_q = current_q + lr * (rewards_value + GAMMA * next_q - current_q)
    
    # Update the Q-value in the Q-table
	Q[state][action_dict.get(action)] = new_q
	
    # Check if the (state, action) pair exists in the Q-table
    # if (state, action) not in Q:
    #     Q[(state, action)] = 0.0

In [47]:
# for episode in range(num_episodes):
steps = []
rewards_list = []
steps_list = []


num_episodes = 10000000
num_steps_per_episode = 10
total_rewards = 0
GAMMA = 0.9


for episode in range(num_episodes):
    current_state = 0  # Starting state
    action, action_value = policy(Q, sarsa_agent, current_state, epsilon，)
    # update upcoming allowed actions
    if action == 0:
        sarsa_agent.isHolding = True
    if action == 1:
        sarsa_agent.isHolding = False
    total_rewards = 0

    while (current_state != Q.shape[0] - 1):
        rewards = reward_table[current_state][action]
        total_rewards += rewards
        steps.append(action)
        next_state = current_state + 1 
        next_action, next_action_value = policy(Q, sarsa_agent, next_state, epsilon)
        update_q_value(current_state, action, rewards, next_state, next_action)

        # print(f'After update:, action: {action}, action_value : {action_value}, next_action: {next_action}, next_action_value: {next_action_value}\n')
        # update upcoming allowed actions
        if next_action == 0:
            sarsa_agent.isHolding = True
        if next_action == 1:
            sarsa_agent.isHolding = False

        current_state = next_state
        action = next_action 
        action_value = next_action_value

    rewards_list.append(total_rewards)
    steps_list.append(steps)

KeyboardInterrupt:

***Perform price and volume aggregation for monthly daily basis reward table***

In [15]:
# the trade volumes here originally is "amount", total usd price is "vol"
# will rename after retrieved from the dataframe
desired_col = [ 
    'date', 
    'time', 
    'local_numeric_day', 
    'amount',
    'vol',
    'sell_rewards', 
    'buy_rewards', 
    'sell_cumulative_rewards', 
    'buy_cumulative_rewards',
    'actions',
    'volume_bins',
    'encoded_time'
]

renamed_col = [ 
    'date', 
    'time', 
    'local_numeric_day', 
    'trade_volumes',
    'trade_total_price',
    'sell_rewards', 
    'buy_rewards', 
    'sell_cumulative_rewards', 
    'buy_cumulative_rewards',
    'actions',
    'volume_bins',
    'encoded_time'
]


df_volumes = df[desired_col]
df_volumes.columns = renamed_col

In [16]:
from datetime import date 

def convert_to_first_day_of_month(df, date_column_name):
    # convert to datetime format
    starting_month_list = df[date_column_name].apply(lambda x: date(x.year, x.month, 1))
    return starting_month_list

def get_week_of_month(df, date_column_name) -> list:

    def compute_week_of_month(date_value):
        first_day = date(date_value.year, date_value.month, 1)
        offset = (date_value.weekday() + 1 - first_day.weekday()) % 7
        week_of_month = (date_value.day + offset - 1) // 7 + 1
        return week_of_month

    week_of_month_list = df[date_column_name].apply(lambda x: compute_week_of_month(x))

    return week_of_month_list

In [17]:
df_volumes['starting_month'] = convert_to_first_day_of_month(df, 'date')
df_volumes['week_of_month'] = get_week_of_month(df, 'date')

C:\Users\USER\AppData\Local\Temp\ipykernel_17812\877107850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volumes['starting_month'] = convert_to_first_day_of_month(df, 'date')
C:\Users\USER\AppData\Local\Temp\ipykernel_17812\877107850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volumes['week_of_month'] = get_week_of_month(df, 'date')

In [18]:
df_volumes.head()

,date,time,local_numeric_day,trade_volumes,trade_total_price,sell_rewards,buy_rewards,sell_cumulative_rewards,buy_cumulative_rewards,actions,volume_bins,encoded_time,starting_month,week_of_month
0,2023-01-01,2023-01-01 00:00:00,7,1.084000,1304.147073,-0.15,0.15,-0.15,0.15,-1,0,00-00-00,2023-01-01,1
1,2023-01-01,2023-01-01 00:05:00,7,16.306101,19612.445390,-0.32,0.32,-0.47,0.47,-1,7,00-05-00,2023-01-01,1
2,2023-01-01,2023-01-01 00:10:00,7,22.856000,27485.863219,-0.32,0.32,-0.79,0.79,-1,10,00-10-00,2023-01-01,1
3,2023-01-01,2023-01-01 00:15:00,7,88.951166,106878.352877,1.22,-1.22,0.43,-0.43,-1,23,00-15-00,2023-01-01,1
4,2023-01-01,2023-01-01 00:20:00,7,85.315059,102618.915554,-0.20,0.20,0.23,-0.23,-1,23,00-20-00,2023-01-01,1

**Start aggregating the trading data**

***Based on year, month, day, time to see the max, min, average, median, sd of the price and volumes***

In [19]:
volume_cols = ['week_of_month', 'local_numeric_day', 'encoded_time', 'trade_volumes']
price_cols = ['week_of_month', 'local_numeric_day', 'encoded_time', 'trade_volumes', 'trade_total_price']
reward_cols = ['week_of_month', 'local_numeric_day', 'encoded_time', 'sell_rewards', 'buy_rewards', 'actions']

groupby_keys = ['week_of_month', 'local_numeric_day', 'encoded_time']

df_volume_stats = df_volumes[volume_cols].groupby(groupby_keys).describe().reset_index()

df_price = df_volumes[price_cols].groupby(groupby_keys).sum()
df_price['daily_average_trade_total_price'] = df_price['trade_total_price'] / df_price['trade_volumes']
df_price = df_price.drop(columns=['trade_volumes', 'trade_total_price'])
df_price_stats = df_price.groupby(groupby_keys).mean()

df_reward_stats = df_volumes[reward_cols[:-1]].groupby(groupby_keys).describe().reset_index()

In [20]:
df_volume_stats.head()

  week_of_month local_numeric_day encoded_time trade_volumes
                                                       count        mean
0             1                 1     00-00-00           3.0  137.067107  \
1             1                 1     00-05-00           3.0   44.429816
2             1                 1     00-10-00           3.0   44.109580
3             1                 1     00-15-00           3.0   53.369440
4             1                 1     00-20-00           3.0   47.911949


          std        min        25%        50%         75%         max
0  192.701362  23.103611  25.821994  28.540377  194.048854  359.557332
1   57.754143   9.098558  11.105586  13.112615   62.095445  111.078276
2   50.298957   6.983346  15.487539  23.991731   62.672697  101.353664
3   39.617225  27.311900  30.574100  33.836300   66.398210   98.960120
4   38.865384   3.097244  35.677524  68.257803   70.319302   72.380800

In [21]:
df_price_stats.head()

                                              daily_average_trade_total_price
week_of_month local_numeric_day encoded_time
1             1                 00-00-00                          1870.249402
                                00-05-00                          1867.227687
                                00-10-00                          1867.223181
                                00-15-00                          1776.303339
                                00-20-00                          1845.962931

In [22]:
df_reward_stats.head()

  week_of_month local_numeric_day encoded_time sell_rewards
                                                      count      mean
0             1                 1     00-00-00          3.0  0.316667  \
1             1                 1     00-05-00          3.0 -1.453333
2             1                 1     00-10-00          3.0  0.093333
3             1                 1     00-15-00          3.0 -0.473333
4             1                 1     00-20-00          3.0 -2.763333

                                            buy_rewards
        std   min    25%   50%    75%   max       count      mean       std
0  1.486282 -1.28 -0.355  0.57  1.115  1.66         3.0 -0.316667  1.486282  \
1  0.603435 -1.86 -1.800 -1.74 -1.250 -0.76         3.0  1.453333  0.603435
2  1.900851 -2.09 -0.550  0.99  1.185  1.38         3.0 -0.093333  1.900851
3  1.817865 -2.55 -1.125  0.30  0.565  0.83         3.0  0.473333  1.817865
4  3.730688 -6.85 -4.375 -1.90 -0.720  0.46         3.0  2.763333  3.730688


    min    25%   50%    75%   max
0 -1.66 -1.115 -0.57  0.355  1.28
1  0.76  1.250  1.74  1.800  1.86
2 -1.38 -1.185 -0.99  0.550  2.09
3 -0.83 -0.565 -0.30  1.125  2.55
4 -0.46  0.720  1.90  4.375  6.85

In [23]:
df_reward_stats[['week_of_month', 'local_numeric_day', 'encoded_time']]\
.reset_index()\
.groupby(['week_of_month', 'local_numeric_day'])\
.nunique()

C:\Users\USER\AppData\Local\Temp\ipykernel_17812\2612709224.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df_reward_stats[['week_of_month', 'local_numeric_day', 'encoded_time']]\

                                index encoded_time

week_of_month local_numeric_day
1             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288
2             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288
3             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288
4             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288
5             1                   288          288
              2                   288          288
              3                   288          288
              4                   288          288
              5                   288          288
              6                   288          288
              7                   288          288

***Create nested reward table***

***Keep the df_price_stats and df_volume_stats for reference***

In [24]:
df_reward_stats.head()

  week_of_month local_numeric_day encoded_time sell_rewards
                                                      count      mean
0             1                 1     00-00-00          3.0  0.316667  \
1             1                 1     00-05-00          3.0 -1.453333
2             1                 1     00-10-00          3.0  0.093333
3             1                 1     00-15-00          3.0 -0.473333
4             1                 1     00-20-00          3.0 -2.763333

                                            buy_rewards
        std   min    25%   50%    75%   max       count      mean       std
0  1.486282 -1.28 -0.355  0.57  1.115  1.66         3.0 -0.316667  1.486282  \
1  0.603435 -1.86 -1.800 -1.74 -1.250 -0.76         3.0  1.453333  0.603435
2  1.900851 -2.09 -0.550  0.99  1.185  1.38         3.0 -0.093333  1.900851
3  1.817865 -2.55 -1.125  0.30  0.565  0.83         3.0  0.473333  1.817865
4  3.730688 -6.85 -4.375 -1.90 -0.720  0.46         3.0  2.763333  3.730688


    min    25%   50%    75%   max
0 -1.66 -1.115 -0.57  0.355  1.28
1  0.76  1.250  1.74  1.800  1.86
2 -1.38 -1.185 -0.99  0.550  2.09
3 -0.83 -0.565 -0.30  1.125  2.55
4 -0.46  0.720  1.90  4.375  6.85

***Start creating nested reward table from here***

In [25]:
df_sell_rewards = df_reward_stats['sell_rewards'][['mean']].copy()
df_buy_rewards = df_reward_stats['buy_rewards'][['mean']].copy()

In [26]:
df_sell_rewards.head()

       mean
0  0.316667
1 -1.453333
2  0.093333
3 -0.473333
4 -2.763333

In [27]:
sell_cols = ['sell_rewards']
buy_cols = ['buy_rewards']
df_sell_rewards.columns = sell_cols
df_buy_rewards.columns = buy_cols

In [28]:
df_sell_rewards.head()

   sell_rewards
0      0.316667
1     -1.453333
2      0.093333
3     -0.473333
4     -2.763333

In [29]:
df_buy_rewards.head()

   buy_rewards
0    -0.316667
1     1.453333
2    -0.093333
3     0.473333
4     2.763333

In [30]:
#df_nested_rewards = pd.merge([df_reward_stats[['week_of_month', 'local_numeric_day', 'encoded_time']], df_sell_rewards, df_buy_rewards],).reset_index()
df_nested_rewards = pd.concat([df_reward_stats[['week_of_month', 'local_numeric_day', 'encoded_time']], df_sell_rewards, df_buy_rewards], axis=1)

# rename column to remove the tuple-like hierachy syntax for easier retrieve
rename_cols = ['week_of_month', 'local_numeric_day', 'encoded_time', 'sell_rewards', 'buy_rewards']
df_nested_rewards.columns = rename_cols
df_nested_rewards.head()

   week_of_month  local_numeric_day encoded_time  sell_rewards  buy_rewards
0              1                  1     00-00-00      0.316667    -0.316667
1              1                  1     00-05-00     -1.453333     1.453333
2              1                  1     00-10-00      0.093333    -0.093333
3              1                  1     00-15-00     -0.473333     0.473333
4              1                  1     00-20-00     -2.763333     2.763333

In [31]:
# Create a custom aggregation function to fill in values based on conditions
def fill_values(column):
    if column[column > 0].empty:
        return None
    return column[column > 0].values[0]

# Pivot the DataFrame
df_pivoted_rewards = pd.pivot_table(df_nested_rewards, values=['sell_rewards', 'buy_rewards'], index=['week_of_month', 'local_numeric_day', 'encoded_time'],
                            aggfunc=fill_values).reset_index()
df_pivoted_rewards = df_pivoted_rewards.rename(columns={'sell_rewards': 'sell_action', 'buy_rewards': 'buy_action'})
df_pivoted_rewards.head()

   week_of_month  local_numeric_day encoded_time  buy_action  sell_action
0              1                  1     00-00-00         NaN     0.316667
1              1                  1     00-05-00    1.453333          NaN
2              1                  1     00-10-00         NaN     0.093333
3              1                  1     00-15-00    0.473333          NaN
4              1                  1     00-20-00    2.763333          NaN

In [32]:
# assign reverse action reward for NaN value 
df_pivoted_rewards['buy_action'] = df_pivoted_rewards['buy_action'].fillna(df_pivoted_rewards['sell_action']*-1)
df_pivoted_rewards['sell_action'] = df_pivoted_rewards['sell_action'].fillna(df_pivoted_rewards['buy_action']*-1)
df_pivoted_rewards.head()

   week_of_month  local_numeric_day encoded_time  buy_action  sell_action
0              1                  1     00-00-00   -0.316667     0.316667
1              1                  1     00-05-00    1.453333    -1.453333
2              1                  1     00-10-00   -0.093333     0.093333
3              1                  1     00-15-00    0.473333    -0.473333
4              1                  1     00-20-00    2.763333    -2.763333

In [33]:
# add in no action reward value 
df_pivoted_rewards['no_action'] = 0
df_pivoted_rewards.head()

,week_of_month,local_numeric_day,encoded_time,buy_action,sell_action,no_action
0,1,1,00-00-00,-0.316667,0.316667,0
1,1,1,00-05-00,1.453333,-1.453333,0
2,1,1,00-10-00,-0.093333,0.093333,0
3,1,1,00-15-00,0.473333,-0.473333,0
4,1,1,00-20-00,2.763333,-2.763333,0

In [34]:
# transform encoded time into scalar value for easier indexing
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df_pivoted_rewards['label_encoded_time'] = encoder.fit_transform(df_pivoted_rewards[['encoded_time']])
df_pivoted_rewards.head()

c:\Users\USER\jhinn-ml\reinforcement-learning\venv\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,week_of_month,local_numeric_day,encoded_time,buy_action,sell_action,no_action,label_encoded_time
0,1,1,00-00-00,-0.316667,0.316667,0,0
1,1,1,00-05-00,1.453333,-1.453333,0,1
2,1,1,00-10-00,-0.093333,0.093333,0,2
3,1,1,00-15-00,0.473333,-0.473333,0,3
4,1,1,00-20-00,2.763333,-2.763333,0,4

In [35]:
df_pivoted_rewards.nunique()

week_of_month            5
local_numeric_day        7
encoded_time           288
buy_action            6944
sell_action           6944
no_action                1
label_encoded_time     288
dtype: int64

In [36]:
df_pivoted_rewards.head()

,week_of_month,local_numeric_day,encoded_time,buy_action,sell_action,no_action,label_encoded_time
0,1,1,00-00-00,-0.316667,0.316667,0,0
1,1,1,00-05-00,1.453333,-1.453333,0,1
2,1,1,00-10-00,-0.093333,0.093333,0,2
3,1,1,00-15-00,0.473333,-0.473333,0,3
4,1,1,00-20-00,2.763333,-2.763333,0,4

In [37]:
# get the unique value of each column for each state 
state_unique_counts = df_pivoted_rewards.nunique()

# initialize shape size
state_array_shape = tuple(state_unique_counts[:3])
# add 3 unique actions 
state_array_shape += (num_action ,)
print("State array shape:", state_array_shape)

# create the array with the initialized shape size 
state_array = np.zeros(state_array_shape)

# start padding reward value into each state respectively
# Iterate over the rows of the DataFrame
for index, row in df_pivoted_rewards.iterrows():
    week_index = row['week_of_month']-1
    day_index = row['local_numeric_day']-1
    time_index = row['label_encoded_time']-1
    value = [row['buy_action'], row['sell_action'], row['no_action']]
    state_array[week_index, day_index, time_index] = value

state_array[0]

State array shape: (5, 7, 288, 3)

array([[[ 1.45333333, -1.45333333,  0.        ],
        [-0.09333333,  0.09333333,  0.        ],
        [ 0.47333333, -0.47333333,  0.        ],
        ...,
        [-0.22      ,  0.22      ,  0.        ],
        [-0.97666667,  0.97666667,  0.        ],
        [-0.31666667,  0.31666667,  0.        ]],

       [[-0.21      ,  0.21      ,  0.        ],
        [-1.5625    ,  1.5625    ,  0.        ],
        [ 2.3475    , -2.3475    ,  0.        ],
        ...,
        [ 0.79      , -0.79      ,  0.        ],
        [-0.6575    ,  0.6575    ,  0.        ],
        [ 1.975     , -1.975     ,  0.        ]],

       [[ 2.61333333, -2.61333333,  0.        ],
        [-0.99666667,  0.99666667,  0.        ],
        [-0.12666667,  0.12666667,  0.        ],
        ...,
        [-0.67      ,  0.67      ,  0.        ],
        [ 0.63      , -0.63      ,  0.        ],
        [-0.13      ,  0.13      ,  0.        ]],

       ...,

       [[ 1.18      , -1.18      ,  0.        ],
        [-1.17333333,  1.17333333,  0.        ],
        [-1.42333333,  1.42333333,  0.        ],
        ...,
        [-0.79666667,  0.79666667,  0.        ],
        [-0.25666667,  0.25666667,  0.        ],
        [ 1.47666667, -1.47666667,  0.        ]],

       [[ 0.68      , -0.68      ,  0.        ],
        [ 0.52      , -0.52      ,  0.        ],
        [ 0.445     , -0.445     ,  0.        ],
        ...,
        [-0.595     ,  0.595     ,  0.        ],
        [ 0.52      , -0.52      ,  0.        ],
        [ 2.44      , -2.44      ,  0.        ]],

       [[-1.09666667,  1.09666667,  0.        ],
        [ 0.46      , -0.46      ,  0.        ],
        [-0.23666667,  0.23666667,  0.        ],
        ...,
        [ 0.01666667, -0.01666667,  0.        ],
        [ 0.09      , -0.09      ,  0.        ],
        [-0.67333333,  0.67333333,  0.        ]]])

In [38]:
# assign state array to be reward array for easier reference
reward_table = state_array.copy()

In [39]:
reward_table.shape

(5, 7, 288, 3)

In [40]:
# Iterate over dimensions a, b, c sequentially
# 27/6/2023: tried np.diter but doesnt want to waste more time as there are more parameters to discover but knew that this will reduce the computation time complexity
# for now use a simple nested loops first
# in future when data is more then explore np.diter
for month in range(reward_table.shape[0]):
    for day in range(reward_table.shape[1]):
        for time in range(reward_table.shape[2]):
            state = (month, day, time)

In [41]:
# Start modifying the SARSA nested state iteration from here
# Training loop
# for episode in range(num_episodes):

# Training loop
import SARSA_one_state as SARSA

num_states = df['encoded_time'].nunique()
num_actions = df['actions'].nunique()
lr = 0.005
discount_factor = 0.1
epsilon = 0.1
# print(num_states, num_actions)

sarsa_agent = SARSA.SARSAAgent(
    df,
    learning_rate=lr,
    discount_factor=discount_factor,
    epsilon=epsilon
)

global Q 
sarsa_agent.initialize_q_table(df)
Q = np.zeros(reward_table.shape)
print(Q.shape)

(5, 7, 288, 3)

In [43]:
environments_list = []
total_rewards_list = []
rewards_list = []
steps_list = []
num_episodes = 10000
# num_steps_per_episode = 1000
GAMMA = 0.9
isVerbose = False

for episode in range(num_episodes):

    print("\nEpisode:", episode)

    # initialize cumulative rewards
    total_rewards = 0
    steps = []
    environments = []
    rewards = []

    current_state = (0,0,0) # Starting state
    action, action_value = policy(Q, sarsa_agent, current_state, epsilon, verbose=isVerbose)
    # update upcoming allowed actions
    if action == 0:
        sarsa_agent.isHolding = True
    else:
        sarsa_agent.isHolding = False

    rewards_value = reward_table[current_state][action]
    total_rewards += rewards_value

    steps.append(action)
    rewards.append(rewards_value)
    environments.append(current_state)

    # when current state has not iterate until the last row of Q table
    # while (current_state != (reward_table.shape[0],reward_table.shape[1],reward_table.shape[2])):

    for month in range(reward_table.shape[0]):
        for day in range(reward_table.shape[1]):
            for time in range(reward_table.shape[2]):

                # when iterating (0,0) start from (0,0,1) to (0,0,287) because (0,0,0) already initialized on top
                if current_state[0] == 0 and current_state[1] == 0:
                    current_state = [month, day, time + 1]
                else:
                    current_state = [month, day, time]

                current_state = tuple(current_state)
                # print("Current state:", current_state)
                # print("Current action:", action, action_value)

                rewards_value = reward_table[current_state][action]
                total_rewards += rewards_value

                # print("Total rewards:", total_rewards)

                steps.append(action)
                rewards.append(rewards_value)
                environments.append(current_state)

                # if not last row of state then + 1 else move up 1 level then + 1
                if current_state[2] < reward_table.shape[2] - 1:
                    next_state = [current_state[0], current_state[1], current_state[2] + 1]
                    # print("In time:", current_state, next_state)
                elif reward_table.shape[2] - 1 == current_state[2] and current_state[1] < reward_table.shape[1] - 1:
                    next_state = [current_state[0], current_state[1] + 1, current_state[2]]
                    # print("In day:", current_state,  next_state)
                elif current_state[0] < reward_table.shape[0] - 1:
                    next_state = [current_state[0] + 1, current_state[1], current_state[2]]
                    # print("In month:", current_state, next_state)
                
                next_state = tuple(next_state)
                next_action, next_action_value = policy(Q, sarsa_agent, next_state, epsilon, verbose=isVerbose)

                #print("End:", current_state, action, rewards, next_state, next_action)
                update_q_value(current_state, action, rewards, rewards_value, next_state, next_action, verbose=False)

                # print(f'After update:, action: {action}, action_value : {action_value}, next_action: {next_action}, next_action_value: {next_action_value}\n')
                # update upcoming allowed actions
                if next_action == 0:
                    sarsa_agent.isHolding = True
                if next_action == 1:
                    sarsa_agent.isHolding = False

                current_state = next_state
                action = next_action 
                action_value = next_action_value

    total_rewards_list.append(sum(rewards))
    rewards_list.append(rewards)
    steps_list.append(steps)
    environments_list.append(environments)

Episode: 0

Episode: 1

In [154]:
# import pickle
# with open('sarsa_crypto.pickle', 'wb') as file:
#     pickle.dump((Q, reward_table, rewards_list, steps_list), file)

In [44]:
df_check = pd.DataFrame(total_rewards_list, columns=['rewards'])
df_check.describe()

         rewards
count   2.000000
mean  -17.785667
std    20.648932
min   -32.386667
25%   -25.086167
50%   -17.785667
75%   -10.485167
max    -3.184667

In [45]:
total_rewards_list

[-3.1846666666683383, -32.38666666666952]

In [46]:
max_value_index = total_rewards_list.index(max(total_rewards_list))
worst_value_index = total_rewards_list.index(min(total_rewards_list))

print(max_value_index)
print(worst_value_index)
print(max(total_rewards_list))
print(min(total_rewards_list))
print("Max step list:", steps_list[max_value_index])
print("Bad step list:", steps_list[worst_value_index])

# Check if each row has different values
is_different = np.all(np.diff(Q, axis=1), axis=1)

# Display the result
#print(is_different)

0
1
-3.1846666666683383
-32.38666666666952

In [47]:
rewards_list[worst_value_index]

[0.0,
 0.0,
 0.4733333333332818,
 0.0,
 0.0,
 0.0,
 0.0,
 1.1966666666667152,
 0.0,
 0.0,
 -1.1866666666667243,
 0.0,
 0.0,
 1.7433333333332637,
 0.0,
 0.0,
 0.0,
 -0.513333333333397,
 -0.2766666666667182,
 0.0,
 1.2633333333333212,
 -0.03999999999988783,
 1.3433333333334,
 0.0,
 1.0566666666666908,
 0.0,
 0.0,
 0.0,
 0.0,
 0.7000000000000455,
 0.0,
 0.0,
 0.0,
 0.0,
 0.05999999999994543,
 3.2700000000000577,
 0.34666666666673035,
 3.6100000000000514,
 -0.16333333333333636,
 -0.9500000000000455,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -5.423333333333328,
 0.3533333333333151,
 0.0,
 0.0,
 1.7033333333333,
 -0.6333333333333636,
 0.15333333333334545,
 0.0,
 0.0,
 0.8233333333332666,
 0.0,
 0.37666666666662724,
 0.0,
 0.0,
 0.0,
 0.0,
 0.16666666666666666,
 1.6633333333334122,
 0.5833333333334091,
 -0.009999999999990905,
 1.6633333333333364,
 -0.10333333333331514,
 -0.4466666666666394,
 -0.043333333333369715,
 0.0,
 0.1933333333332333,
 0.0,
 -0.2599999999999909,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.8166666666667576,
 0.0,
 0.14666666666668485,
 1.5766666666666727,
 0.0,
 0.0,
 0.0,
 0.8366666666665878,
 0.0,
 -0.9533333333333,
 -0.08000000000000303,
 0.0,
 2.259999999999991,
 -0.10666666666679703,
 3.6799999999998363,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.2400000000000091,
 0.0,
 0.5300000000000485,
 -0.783333333333303,
 -0.7299999999999424,
 -0.21999999999995148,
 0.07333333333334242,
 0.0,
 0.0,
 -2.356666666666721,
 0.0,
 0.910000000000006,
 0.0,
 0.14000000000002424,
 0.0,
 0.0,
 6.753333333333255,
 0.0,
 -2.0166666666666515,
 -1.8666666666666363,
 0.0,
 1.0366666666665576,
 -1.6066666666667213,
 0.5300000000000485,
 0.0,
 0.060000000000021224,
 0.8133333333333516,
 -0.806666666666691,
 0.0,
 0.0,
 0.0,
 0.04333333333329392,
 -0.19000000000005457,
 0.0,
 -0.18333333333339397,
 -0.9433333333333849,
 0.0,
 0.0,
 -0.16333333333326058,
 0.0,
 -0.11333333333338184,
 0.6000000000000606,
 0.0,
 0.0,
 0.0,
 0.4766666666666879,
 -0.4966666666666697,
 0.693333333333309,
 0.4399999999999788,
 -0.5133333333333212,
 0.763333333333397,
 0.0,
 0.8000000000000304,
 1.433333333333394,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.2900000000000394,
 -0.6466666666666848,
 0.0,
 0.0,
 0.0,
 0.10666666666664544,
 0.9433333333333849,
 0.49333333333341517,
 -0.36333333333330603,
 0.0,
 -0.9466666666667152,
 0.15666666666667575,
 0.7433333333333394,
 0.0,
 1.0,
 0.0,
 -1.0,
 1.0733333333333424,
 0.06000000000009701,
 1.5066666666668123,
 -3.2233333333332816,
 0.05666666666661513,
 0.0,
 1.0100000000000666,
 1.1500000000000152,
 0.0,
 0.0,
 0.06666666666675762,
 0.9700000000000273,
 -2.466666666666697,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.15000000000001515,
 0.03333333333330302,
 0.9266666666666575,
 0.05333333333328483,
 -0.7233333333333576,
 0.17000000000007276,
 0.0,
 -0.9266666666668092,
 0.2666666666666515,
 0.5433333333333698,
 0.5233333333333121,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.013333333333321207,
 0.0,
 0.8066666666666151,
 0.37333333333322116,
 0.0,
 0.0,
 0.30999999999994543,
 -0.4466666666666394,
 0.4533333333333,
 -0.2866666666667849,
 0.0,
 -0.839999999999994,
 -0.9600000000000364,
 -1.6966666666667152,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5766666666667485,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.5466666666665484,
 0.0,
 0.0,
 0.0,
 0.3233333333333424,
 0.4700000000000273,
 -1.0033333333333303,
 0.0,
 -0.06333333333335152,
 0.0,
 1.3899999999999484,
 1.9533333333333,
 0.0,
 0.0,
 4.523333333333312,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.513333333333397,
 -1.7333333333332728,
 -1.146666666666609,
 -1.386666666666694,
 0.0,
 -1.740000000000009,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.269999999999906,
 1.6666666666666667,
 -0.2733333333333121,
 0.0,
 0.0,
 0.0,
 -0.8733333333333727,
 0.0,
 0.0,
 0.9766666666666121,
 -0.3166666666666818,
 0.0,
 0.0,
 0.0,
 -2.347500000000025,
 0.0,
 0.2349999999999568,
 -1.3549999999999613,
 0.0,
 0.0,
 0.0,
 0.0,
 0.3075000000000614,
 0.0,
 0.06499999999999773,
 0.0,
 0.0,
 1.1324999999999932,
 1.1849999999999454,
 -0.917500000000075,
 -0.3300000000000409,
 -0.7299999999999613,
 -0.015000000000043201,
 0.3349999999999227,
 0.0,
 0.0,
 0.0,
 -0.04750000000001364,
 0.0,
 0.0,
 0.0,
 0.0,
 0.24249999999994998,
 0.0,
 1.0400000000000773,
 0.6025000000000205,
 0.0,
 0.9350000000000591,
 1.535000000000025,
 -4.927500000000009,
 0.0,
 -1.0100000000000477,
 -1.5649999999999409,
 2.4550000000000978,
 1.1200000000000045,
 0.0,
 0.0,
 0.05750000000000455,
 0.020000000000038654,
 -0.3875000000000455,
 -0.7600000000000477,
 0.0,
 0.5674999999999386,
 0.0,
 0.0,
 0.2349999999999568,
 -0.4874999999999545,
 -1.5149999999999864,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.3924999999999841,
 0.9175000000000182,
 0.0,
 0.5949999999999704,
 2.534999999999968,
 1.2275000000000205,
 0.0,
 0.0,
 0.36250000000001137,
 0.0,
 0.1925000000000523,
 -0.839999999999975,
 0.0,
 0.0,
 0.012500000000045475,
 -0.2400000000000091,
 0.7099999999999227,
 0.0,
 0.0,
 -1.5199999999999818,
 0.0,
 0.07250000000004775,
 0.0,
 0.0,
 0.4824999999999591,
 1.4424999999999955,
 0.0,
 0.17000000000001592,
 -0.30999999999994543,
 -0.6074999999999022,
 -0.7724999999999795,
 -0.1150000000000091,
 0.0,
 0.27000000000003865,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.9349999999999454,
 -2.11749999999995,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.08500000000003638,
 0.0,
 0.0,
 0.6049999999999613,
 0.0,
 -0.9225000000000705,
 -0.4575000000000955,
 0.0,
 0.0,
 0.0,
 -0.1675000000000182,
 0.849999999999909,
 0.0724999999999909,
 -0.29000000000002046,
 -0.5375000000001364,
 0.0,
 0.0,
 -0.652499999999975,
 0.0,
 -1.337500000000034,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.8824999999999932,
 0.0,
 0.12500000000005684,
 -0.3125,
 0.0,
 0.0,
 0.5099999999999909,
 0.0,
 0.0,
 0.11749999999994998,
 0.19249999999999545,
 0.0,
 0.0,
 -0.7549999999999955,
 0.0,
 0.0,
 -0.9500000000001023,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.7899999999999636,
 0.3025000000000091,
 -0.04750000000001364,
 -0.08249999999992497,
 -0.25249999999988404,
 0.0,
 0.0625,
 0.152499999999975,
 0.0,
 0.0,
 0.222500000000025,
 0.0,
 0.0,
 0.1500000000000341,
 0.0,
 -0.5599999999999454,
 0.0,
 -0.6774999999999523,
 -1.0550000000000068,
 0.0,
 0.0,
 -0.03499999999996817,
 0.11250000000001137,
 0.5325000000000273,
 -0.24749999999994543,
 0.0,
 0.0,
 -0.22750000000002046,
 -0.40999999999996817,
 0.1449999999999818,
 -0.847500000000025,
 0.0,
 0.0,
 0.4074999999999136,
 0.14749999999997954,
 -0.2524999999999977,
 0.0,
 -0.39749999999997954,
 0.0,
 -0.8499999999999659,
 -0.48999999999995225,
 0.06749999999999545,
 -0.04250000000001819,
 0.5525000000000091,
 0.12749999999999773,
 0.0,
 0.0,
 0.0,
 1.037499999999966,
 0.0,
 0.0,
 1.3725000000000591,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0824999999999818,
 -0.3350000000000364,
 -0.5150000000001,
 0.11499999999995225,
 0.0,
 0.5924999999999727,
 -0.8125,
 -0.24250000000000682,
 0.0,
 0.2874999999999659,
 0.0,
 0.34499999999997044,
 0.0,
 0.7574999999999363,
 -0.5375000000000796,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.5799999999999841,
 0.724999999999909,
 0.0,
 0.0,
 0.35750000000007276,
 -0.22499999999990905,
 0.2925000000000182,
 0.0,
 0.2125000000000341,
 -0.5674999999999955,
 -0.6849999999999454,
 -0.23749999999995453,
 0.0,
 -0.4474999999999909,
 -0.38499999999993406,
 0.0,
 1.162499999999909,
 1.5499999999998977,
 0.6749999999999545,
 0.0,
 -0.6750000000000114,
 -1.580000000000041,
 0.0,
 -0.21750000000002956,
 0.0,
 0.0,
 0.0,
 0.0,
 1.2274999999999636,
 -0.20000000000010232,
 -0.472500000000025,
 1.089999999999975,
 -0.6450000000000955,
 0.0,
 -0.21999999999997044,
 0.0,
 0.0,
 0.0,
 -0.40500000000002956,
 -1.7674999999999272,
 0.0,
 -2.1825000000000614,
 0.0,
 0.9399999999999977,
 -5.0049999999999955,
 0.9625000000000341,
 0.0,
 1.5625000000000568,
 -3.2174999999999727,
 -1.8374999999999773,
 0.0,
 0.0,
 1.009999999999934,
 0.152499999999975,
 0.4574999999999818,
 -0.7900000000000205,
 0.0,
 1.9750000000000796,
 -2.6133333333333817,
 0.0,
 -0.12666666666670304,
 0.0,
 -0.9066666666666757,
 0.0,
 2.7900000000000396,
 0.0,
 1.1533333333332696,
 0.0,
 0.5733333333334182,
 0.0,
 -0.37000000000004246,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.18333333333331817,
 -0.6766666666667334,
 0.0,
 0.0,
 1.320000000000012,
 -0.0166666666667273,
 -0.7333333333333485,
 0.0,
 0.0,
 0.0,
 0.0,
 0.38999999999994844,
 -0.09333333333340003,
 -1.4433333333333092,
 0.0,
 0.0,
 2.606666666666721,
 0.0,
 0.0,
 0.0,
 1.3466666666666545,
 0.0,
 0.0,
 0.9499999999999696,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.3266666666666727,
 0.8633333333333061,
 0.0,
 -1.7166666666666213,
 -0.9000000000000151,
 1.3833333333332878,
 0.0,
 0.37666666666662724,
 0.0,
 -1.080000000000003,
 2.589999999999994,
 0.0,
 0.0,
 0.08999999999999393,
 -0.4000000000000152,
 -6.240000000000009,
 0.0,
 0.0,
 -0.16000000000008185,
 0.0,
 1.0633333333332,
 0.0,
 -1.4233333333333273,
 0.0,
 -0.06333333333327573,
 0.8400000000000697,
 0.38333333333336367,
 0.0,
 0.0,
 0.0,
 -3.1000000000000605,
 1.4433333333333092,
 0.8733333333332212,
 -2.040000000000115,
 0.4766666666666121,
 -0.8333333333334091,
 0.0,
 0.0,
 2.2433333333333394,
 -0.35666666666656965,
 0.0,
 0.6533333333333454,
 -0.2433333333333394,
 0.0,
 0.0,
 -0.5066666666666606,
 0.0,
 1.9266666666666576,
 0.16666666666681826,
 1.240000000000009,
 1.6399999999998727,
 0.0,
 -1.043333333333294,
 0.4633333333332909,
 0.0,
 0.0,
 0.0,
 2.019999999999906,
 0.0,
 -2.0266666666665665,
 0.0,
 0.37666666666670306,
 0.0,
 0.0,
 0.0,
 -0.5899999999999181,
 0.0,
 -0.8533333333333909,
 -0.4766666666666879,
 -1.3266666666667486,
 1.043333333333294,
 0.0,
 0.0,
 -0.4799999999999424,
 -0.8233333333332666,
 0.0,
 -1.0633333333333514,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.17999999999998786,
 0.0,
 0.35000000000006065,
 0.0,
 -1.1366666666665424,
 0.0,
 0.0,
 1.9599999999999607,
 1.8666666666666363,
 1.080000000000003,
 -0.3399999999999939,
 0.0,
 0.5966666666666546,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.5400000000000394,
 -0.5200000000000576,
 -4.4500000000000455,
 1.1399999999999484,
 0.0,
 0.0,
 0.0,
 0.0,
 0.7233333333333576,
 0.0,
 -0.0333333333334546,
 0.6633333333333363,
 0.0,
 0.0,
 0.0,
 0.03999999999996362,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -2.9066666666666,
 -0.7633333333333212,
 -0.8533333333333152,
 0.0,
 0.0,
 -1.4233333333333273,
 1.1933333333333092,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.5600000000000213,
 -0.2733333333333121,
 0.0,
 0.0,
 0.0,
 -1.0233333333333878,
 -0.8933333333333545,
 0.0,
 0.0,
 0.03666666666670911,
 0.0,
 -3.099999999999985,
 -1.9833333333332728,
 0.0,
 0.0,
 -1.066666666666606,
 0.0,
 -0.9033333333332697,
 -0.3933333333333546,
 0.0,
 0.0,
 -0.6799999999999121,
 0.0,
 0.013333333333396999,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.06666666666660603,
 0.0,
 1.3566666666667213,
 0.9033333333333454,
 0.0,
 0.0,
 1.2400000000000848,
 0.0,
 0.11666666666678793,
 0.0,
 0.6233333333333727,
 0.3066666666666909,
 -1.2533333333333303,
 0.4333333333333182,
 -0.08999999999999393,
 0.0,
 0.0,
 -0.933333333333394,
 0.37000000000004246,
 0.0,
 -0.060000000000021224,
 -0.5666666666666819,
 -0.7533333333334061,
 0.0,
 0.3433333333333242,
 1.363333333333306,
 1.4333333333333182,
 -0.19999999999996967,
 0.0,
 0.0,
 0.0,
 0.0,
 2.009999999999915,
 0.0,
 0.0,
 2.880000000000033,
 0.12000000000004245,
 -0.9799999999999424,
 -1.3133333333332757,
 0.0,
 0.0,
 0.0,
 0.8466666666667303,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -1.896666666666609,
 -1.5566666666666151,
 0.0,
 0.0,
 -3.8300000000000787,
 4.346666666666654,
 2.65333333333327,
 -3.783333333333379,
 0.0,
 0.0,
 -2.5600000000000214,
 0.6899999999999787,
 1.1933333333333092,
 0.0,
 1.1933333333332332,
 -1.759999999999991,
 -0.23333333333319692,
 0.0,
 1.0233333333333121,
 0.0,
 0.0,
 0.0,
 -1.0349999999999682,
 0.0,
 0.0,
 0.0,
 -1.3899999999999864,
 0.0,
 0.0,
 0.055000000000063665,
 0.05999999999994543,
 -0.06500000000005457,
 0.0,
 0.0,
 0.3250000000000455,
 0.0,
 0.0,
 -2.005000000000109,
 -0.26499999999998636,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.27499999999997726,
 -0.6549999999999727,
 0.0,
 -0.46500000000003183,
 -2.1299999999999955,
 0.0,
 4.42999999999995,
 0.0,
 -1.1000000000000227,
 0.0,
 -1.3450000000000273,
 -0.7100000000000364,
 1.919999999999959,
 3.5049999999999955,
 0.0,
 0.0,
 0.0,
 0.46500000000003183,
 1.4950000000001182,
 0.0,
 0.0,
 10.794999999999959,
 0.0,
 0.0,
 0.0,
 0.0,
 -1.6849999999999454,
 -3.240000000000009,
 -1.5000000000001137,
 0.6549999999999727,
 -5.805000000000064,
 0.0,
 -0.009999999999990905,
 -1.0599999999999454,
 -0.6300000000001091,
 0.0,
 0.0,
 -2.050000000000068,
 0.0,
 -1.2000000000000455,
 0.0,
 0.0,
 -2.4700000000000273,
 0.0,
 1.3150000000000546,
 0.0,
 2.384999999999991,
 2.824999999999932,
 0.0,
 0.0,
 0.0,
 -0.1999999999999318,
 0.0,
 0.0,
 0.0,
 0.8550000000000182,
 1.6599999999999682,
 0.3649999999998954,
 -0.18000000000006366,
 1.044999999999959,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -2.3350000000000364,
 0.0,
 -0.38999999999998636,
 1.8700000000000045,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.30499999999995,
 0.0,
 -4.974999999999909,
 2.380000000000109,
 2.6650000000000773,
 2.2100000000000364,
 -1.7699999999999818,
 18.174999999999955,
 5.614999999999895,
 0.07999999999992724,
 0.0,
 2.6549999999999727,
 -1.1649999999999636,
 0.0,
 -0.9349999999999454,
 1.5749999999999318,
 0.0,
 0.0,
 3.5,
 0.0,
 0.0,
 -0.9100000000000819,
 0.15999999999996817,
 1.5600000000000591,
 1.6700000000000728,
 0.0,
 0.0,
 -1.5350000000000819,
 0.0,
 0.8249999999999318,
 -3.0,
 0.0,
 -1.3400000000000318,
 0.0,
 0.0,
 0.0,
 -1.1549999999999727,
 0.0,
 -0.8650000000000091,
 0.0,
 ...]

In [48]:
rewards_list[max_value_index]

[0.0,
 0.0,
 0.0,
 2.763333333333321,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.14666666666668485,
 0.0,
 0.0,
 -0.9300000000000637,
 1.7433333333332637,
 0.0,
 0.0,
 -1.5533333333332848,
 0.0,
 0.0,
 -0.6633333333333363,
 1.2633333333333212,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.3966666666666849,
 -0.20999999999996058,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.05999999999994543,
 3.2700000000000577,
 0.0,
 -3.6100000000000514,
 0.16333333333333636,
 0.0,
 -2.8100000000000214,
 0.7733333333332363,
 0.0,
 0.0,
 0.41666666666659086,
 0.8466666666666546,
 -5.423333333333328,
 0.0,
 0.0,
 -1.7866666666666333,
 0.0,
 0.6333333333333636,
 0.0,
 0.3066666666666909,
 1.1166666666666363,
 0.0,
 0.013333333333321207,
 0.37666666666662724,
 0.0,
 -1.1533333333333455,
 0.029999999999972715,
 0.8566666666666455,
 0.0,
 1.6633333333334122,
 0.5833333333334091,
 0.0,
 -1.6633333333333364,
 0.10333333333331514,
 0.4466666666666394,
 0.0,
 0.5166666666667273,
 -0.1933333333332333,
 1.0033333333333303,
 -0.2599999999999909,
 -0.013333333333321207,
 1.5933333333333242,
 0.0,
 0.0,
 0.0,
 -0.8166666666667576,
 0.5166666666665757,
 -0.14666666666668485,
 0.0,
 0.0,
 -0.5766666666666728,
 0.0,
 0.0,
 0.0,
 -0.9533333333333,
 -0.08000000000000303,
 0.0,
 2.259999999999991,
 0.0,
 -3.6799999999998363,
 -3.4933333333332635,
 0.0,
 0.2300000000000182,
 0.0,
 0.2400000000000091,
 0.8266666666667485,
 0.0,
 0.783333333333303,
 0.7299999999999424,
 0.21999999999995148,
 0.0,
 1.1866666666666486,
 -0.556666666666691,
 -2.356666666666721,
 0.0,
 0.0,
 0.2233333333333576,
 0.0,
 -0.04666666666670002,
 12.346666666666655,
 -6.753333333333255,
 1.3133333333333514,
 -2.0166666666666515,
 -1.8666666666666363,
 2.140000000000024,
 -1.0366666666665576,
 0.0,
 0.5300000000000485,
 1.6066666666667213,
 -0.060000000000021224,
 -0.8133333333333516,
 0.0,
 0.0,
 0.0,
 -0.2533333333333303,
 -0.04333333333329392,
 0.19000000000005457,
 0.2633333333333212,
 0.0,
 0.9433333333333849,
 -0.18666666666664847,
 0.0,
 -0.16333333333326058,
 0.0,
 0.0,
 0.0,
 -1.6399999999999484,
 -0.5733333333332666,
 0.9466666666667152,
 0.0,
 -0.4966666666666697,
 0.0,
 0.0,
 0.0,
 -0.763333333333397,
 -0.5233333333333879,
 0.8000000000000304,
 1.433333333333394,
 0.0,
 -0.8966666666667606,
 0.0,
 0.5599999999998696,
 -0.06000000000009701,
 0.5533333333333607,
 0.0,
 0.0,
 0.0166666666667273,
 0.2900000000000394,
 0.0,
 -0.09999999999998484,
 0.49333333333341517,
 0.0,
 0.0,
 -0.9433333333333849,
 0.0,
 0.0,
 0.0,
 0.9466666666667152,
 0.0,
 0.7433333333333394,
 0.4933333333333394,
 -1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3.2233333333332816,
 0.0,
 -0.2966666666667758,
 -1.0100000000000666,
 0.0,
 0.33333333333340914,
 -0.29999999999987875,
 0.0,
 -0.9700000000000273,
 2.466666666666697,
 -0.3933333333333546,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.7366666666666788,
 0.13999999999994847,
 0.0,
 -0.42333333333340306,
 -1.0633333333333514,
 0.0,
 0.0,
 -0.03333333333330302,
 0.0,
 0.05333333333328483,
 0.0,
 -0.17000000000007276,
 -0.18333333333346977,
 0.0,
 -0.2666666666666515,
 -0.5433333333333698,
 0.0,
 -0.18666666666664847,
 0.0,
 0.2866666666667091,
 0.0,
 -0.41000000000008185,
 -0.8300000000000031,
 -0.013333333333321207,
 0.0,
 0.0,
 -0.37333333333322116,
 0.0,
 -1.3100000000000211,
 0.30999999999994543,
 -0.4466666666666394,
 0.4533333333333,
 -0.2866666666667849,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.21333333333329088,
 -0.8699999999999667,
 0.0,
 0.0,
 1.1833333333333182,
 0.6466666666666091,
 0.0,
 0.6799999999999878,
 0.0,
 0.0,
 0.0,
 0.0,
 -1.5899999999999939,
 0.27666666666656664,
 1.5933333333332484,
 -0.3233333333333424,
 -0.4700000000000273,
 0.0,
 -0.3966666666666849,
 0.0,
 0.910000000000006,
 0.0,
 0.0,
 -0.5733333333333425,
 0.0,
 0.0,
 -2.166666666666591,
 3.2200000000001032,
 0.9633333333333667,
 0.0,
 0.05666666666676671,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.623333333333297,
 0.2366666666666788,
 -1.1400000000000243,
 0.0,
 0.9199999999999212,
 0.0,
 -1.6666666666666667,
 0.2733333333333121,
 1.0966666666666545,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.22000000000002728,
 0.0,
 0.0,
 0.0,
 0.21000000000009322,
 -1.5625,
 0.0,
 -0.18500000000005912,
 0.2349999999999568,
 -1.3549999999999613,
 0.0,
 -0.16499999999996362,
 2.0074999999999363,
 0.0,
 0.0,
 -0.22750000000002046,
 0.06499999999999773,
 1.0325000000000273,
 0.0875000000000341,
 0.0,
 -1.1849999999999454,
 0.917500000000075,
 0.3300000000000409,
 0.0,
 0.0,
 -0.3349999999999227,
 0.0,
 0.0,
 -0.37000000000000455,
 0.0,
 0.4474999999999909,
 0.6899999999999409,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0400000000000773,
 0.0,
 0.4600000000000364,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -1.5649999999999409,
 0.0,
 0.0,
 -0.017500000000040927,
 0.46999999999997044,
 0.05750000000000455,
 0.020000000000038654,
 -0.3875000000000455,
 -0.7600000000000477,
 -0.1099999999999568,
 -0.5674999999999386,
 0.0,
 -0.6600000000000819,
 0.2349999999999568,
 0.0,
 0.0,
 -0.06749999999993861,
 -2.1299999999999955,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.9850000000000136,
 -0.5949999999999704,
 0.0,
 1.2275000000000205,
 -0.27499999999997726,
 0.0,
 0.0,
 -0.44249999999999545,
 0.0,
 0.0,
 0.0625,
 0.0,
 0.0,
 0.2400000000000091,
 -0.7099999999999227,
 0.0,
 -1.1525000000000318,
 -1.5199999999999818,
 0.0,
 0.07250000000004775,
 0.0,
 0.0,
 0.4824999999999591,
 0.0,
 0.0,
 -0.17000000000001592,
 0.30999999999994543,
 0.6074999999999022,
 0.0,
 -0.1150000000000091,
 0.0,
 0.27000000000003865,
 -0.12499999999994316,
 -1.6049999999999613,
 0.0,
 0.41250000000002274,
 0.9349999999999454,
 0.0,
 0.6099999999999568,
 0.8649999999999523,
 0.0,
 0.0,
 -0.08500000000003638,
 0.027500000000031832,
 0.0,
 -0.6049999999999613,
 -1.8274999999999864,
 0.0,
 0.4575000000000955,
 -0.3574999999999591,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.29000000000002046,
 0.0,
 0.09999999999990905,
 0.0,
 0.0,
 0.27750000000003183,
 1.337500000000034,
 0.0,
 0.0,
 0.19499999999999318,
 -1.3050000000000068,
 0.0,
 0.5625,
 -0.33250000000003865,
 0.0,
 -1.0649999999999409,
 0.8824999999999932,
 0.0,
 0.12500000000005684,
 0.0,
 -1.2074999999999818,
 -0.7549999999999955,
 0.0,
 0.14749999999997954,
 0.4324999999999477,
 0.11749999999994998,
 0.19249999999999545,
 -0.27499999999997726,
 -0.9549999999999841,
 0.0,
 0.3700000000000614,
 -0.22499999999990905,
 0.9500000000001023,
 0.0,
 -0.30500000000006366,
 0.4375,
 0.0,
 0.0,
 0.0,
 0.04750000000001364,
 0.0,
 0.0,
 0.0,
 -0.0625,
 -0.152499999999975,
 -0.6474999999999227,
 0.0,
 0.222500000000025,
 -0.13499999999993406,
 0.05500000000012051,
 0.1500000000000341,
 0.0,
 0.0,
 0.0,
 0.6774999999999523,
 1.0550000000000068,
 0.0,
 0.0,
 0.03499999999996817,
 0.0,
 0.5325000000000273,
 0.0,
 0.0,
 1.420000000000016,
 -0.22750000000002046,
 -0.40999999999996817,
 0.0,
 0.847500000000025,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2524999999999977,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.04250000000001819,
 0.0,
 0.0,
 0.0,
 0.0,
 0.29750000000001364,
 -1.037499999999966,
 0.0,
 0.5024999999999977,
 1.3725000000000591,
 -1.0024999999999977,
 0.014999999999929514,
 0.5624999999998863,
 0.0,
 0.0,
 -1.0824999999999818,
 0.0,
 -0.5150000000001,
 0.0,
 -0.33250000000003865,
 0.5924999999999727,
 0.0,
 0.0,
 0.0,
 0.2874999999999659,
 -0.2949999999999591,
 -0.34499999999997044,
 -0.16500000000002046,
 0.0,
 0.0,
 0.0,
 0.0,
 0.08499999999997954,
 -0.3999999999999204,
 -0.5799999999999841,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.22499999999990905,
 0.2925000000000182,
 0.20499999999992724,
 0.0,
 -0.5674999999999955,
 -0.6849999999999454,
 0.0,
 0.3824999999999932,
 -0.4474999999999909,
 -0.38499999999993406,
 0.0,
 1.162499999999909,
 1.5499999999998977,
 0.6749999999999545,
 0.01999999999998181,
 0.0,
 -1.580000000000041,
 0.5074999999999932,
 0.0,
 0.0,
 0.0,
 -0.9999999999999432,
 -0.014999999999929514,
 0.0,
 0.20000000000010232,
 0.0,
 1.089999999999975,
 0.0,
 0.0,
 0.21999999999997044,
 -2.402499999999975,
 0.0,
 0.7775000000000318,
 0.40500000000002956,
 0.0,
 1.2000000000001023,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -1.2524999999999977,
 1.5625000000000568,
 0.0,
 0.0,
 -0.2899999999999636,
 3.7124999999999773,
 1.009999999999934,
 0.0,
 -0.4574999999999818,
 0.7900000000000205,
 0.6575000000000273,
 1.9750000000000796,
 -2.6133333333333817,
 0.0,
 -0.12666666666670304,
 0.0,
 -0.9066666666666757,
 0.0,
 0.0,
 1.5866666666665878,
 1.1533333333332696,
 0.6733333333332515,
 -0.5733333333334182,
 -1.7266666666666879,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.2433333333332636,
 -0.18333333333331817,
 -0.6766666666667334,
 -1.8000000000000302,
 -1.3999999999999393,
 0.0,
 0.0166666666667273,
 0.0,
 -1.0366666666666333,
 -3.3233333333333426,
 0.16333333333333636,
 0.0,
 -0.38999999999994844,
 0.09333333333340003,
 0.0,
 -1.3400000000000698,
 0.13333333333328787,
 2.606666666666721,
 -1.0299999999999727,
 0.0,
 0.0,
 0.0,
 0.19000000000005457,
 0.14333333333335455,
 0.9499999999999696,
 -0.5600000000000213,
 0.0,
 -0.6033333333333152,
 -0.330000000000003,
 0.3266666666666727,
 -0.8633333333333061,
 0.0,
 0.0,
 -0.9000000000000151,
 1.3833333333332878,
 0.0,
 0.0,
 2.0966666666666547,
 0.0,
 0.0,
 0.0,
 -2.363333333333306,
 0.0,
 -0.4000000000000152,
 0.0,
 0.2766666666666424,
 -0.17666666666665756,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.38333333333336367,
 0.0,
 0.0,
 0.0,
 -3.1000000000000605,
 1.4433333333333092,
 0.8733333333332212,
 0.0,
 -0.4766666666666121,
 0.0,
 0.0,
 0.0,
 2.2433333333333394,
 -0.35666666666656965,
 0.0,
 0.6533333333333454,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.9266666666666576,
 0.16666666666681826,
 1.240000000000009,
 1.6399999999998727,
 1.5266666666665667,
 0.0,
 0.4633333333332909,
 -0.6266666666666273,
 2.7033333333334517,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.9233333333333272,
 0.0,
 0.7066666666666302,
 0.0,
 0.0,
 0.5899999999999181,
 -0.606666666666797,
 0.0,
 0.0,
 -1.3266666666667486,
 1.043333333333294,
 0.0,
 -0.9166666666666666,
 0.4799999999999424,
 0.8233333333332666,
 0.0,
 0.0,
 -0.7966666666667,
 0.0,
 0.6066666666667212,
 0.0,
 0.5933333333333243,
 -0.17999999999998786,
 -2.2666666666666515,
 0.35000000000006065,
 0.0,
 0.0,
 0.12999999999995757,
 0.0,
 1.9599999999999607,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.5966666666666546,
 0.0,
 0.38000000000010914,
 -1.293333333333294,
 0.0,
 -0.040000000000039414,
 0.0,
 0.0,
 0.0,
 -1.1399999999999484,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.7233333333333576,
 0.0,
 0.0333333333334546,
 0.0,
 0.3566666666666454,
 0.0,
 0.0,
 0.0,
 -0.16333333333333636,
 0.0,
 0.11666666666656056,
 -0.026666666666793997,
 0.0,
 0.3500000000001364,
 0.0,
 0.0,
 0.7633333333333212,
 0.0,
 0.0,
 -0.38666666666661814,
 0.0,
 1.1933333333333092,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -1.7366666666666788,
 0.0,
 0.0,
 -0.7733333333333121,
 -0.5600000000000213,
 0.0,
 0.0,
 -0.2333333333333485,
 -0.8300000000000788,
 1.0233333333333878,
 0.8933333333333545,
 0.0,
 0.0,
 0.0,
 0.0,
 -3.099999999999985,
 -1.9833333333332728,
 0.0,
 0.0,
 -1.066666666666606,
 0.0,
 -0.9033333333332697,
 0.0,
 0.15666666666675155,
 -0.3533333333333151,
 0.6799999999999121,
 0.8233333333332666,
 0.013333333333396999,
 0.2266666666666879,
 0.0,
 0.0,
 -0.9533333333333,
 -0.7566666666666606,
 -0.06666666666660603,
 0.0,
 -1.3566666666667213,
 0.0,
 0.0,
 -0.8733333333334485,
 -1.2400000000000848,
 -0.236666666666603,
 0.0,
 0.0,
 -0.6233333333333727,
 0.0,
 0.0,
 -0.4333333333333182,
 0.0,
 0.0,
 0.6366666666667697,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.5666666666666819,
 0.0,
 0.0,
 -0.3433333333333242,
 0.0,
 1.4333333333333182,
 -0.19999999999996967,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -2.880000000000033,
 0.0,
 0.0,
 1.3133333333332757,
 -0.2500000000000758,
 0.0,
 1.0099999999999152,
 0.0,
 0.8266666666666728,
 -0.2466666666667455,
 0.0,
 -0.42999999999991206,
 0.05333333333343641,
 0.0,
 1.5566666666666151,
 0.0,
 0.0,
 0.0,
 4.346666666666654,
 2.65333333333327,
 -3.783333333333379,
 0.0,
 0.0,
 -2.5600000000000214,
 0.6899999999999787,
 0.0,
 0.9633333333332909,
 1.1933333333332332,
 -1.759999999999991,
 0.0,
 0.0,
 -1.0233333333333121,
 -0.6700000000000728,
 -0.6300000000001091,
 -0.13000000000003334,
 -1.0349999999999682,
 -0.15499999999997272,
 1.4500000000000455,
 0.0,
 0.0,
 0.3849999999998772,
 0.0,
 0.0,
 -0.05999999999994543,
 0.06500000000005457,
 -1.7150000000000318,
 -1.7100000000000364,
 0.0,
 0.0,
 2.7900000000000773,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.27499999999997726,
 0.6549999999999727,
 0.0,
 0.0,
 0.0,
 0.9599999999999227,
 0.0,
 -1.8350000000000364,
 0.0,
 0.0,
 0.0,
 0.0,
 -1.919999999999959,
 0.0,
 0.0,
 0.0,
 -2.2749999999999773,
 0.0,
 0.0,
 0.0,
 -9.700000000000045,
 0.0,
 0.0,
 1.6299999999999955,
 0.0,
 -4.694999999999936,
 0.0,
 0.0,
 1.5000000000001137,
 -0.6549999999999727,
 5.805000000000064,
 0.37000000000000455,
 -0.009999999999990905,
 -1.0599999999999454,
 0.0,
 0.0,
 2.2749999999999773,
 0.0,
 -2.605000000000018,
 -1.2000000000000455,
 -1.615000000000009,
 0.0,
 2.4700000000000273,
 0.0,
 -1.3150000000000546,
 0.0,
 -2.384999999999991,
 0.0,
 0.67999999999995,
 4.615000000000123,
 -0.18999999999994088,
 0.0,
 0.0,
 -2.564999999999941,
 0.0,
 -0.8550000000000182,
 0.0,
 0.3649999999998954,
 0.0,
 0.0,
 -0.18000000000006366,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.38999999999998636,
 1.8700000000000045,
 0.0,
 2.1100000000001273,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -4.974999999999909,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.30999999999994543,
 -0.9349999999999454,
 0.0,
 -4.965000000000032,
 0.0,
 0.0,
 0.0,
 -2.169999999999959,
 0.0,
 -0.15999999999996817,
 -1.5600000000000591,
 0.0,
 0.0,
 -0.6999999999999318,
 0.0,
 -1.865000000000009,
 -0.8249999999999318,
 3.0,
 0.2199999999999136,
 0.0,
 0.5599999999999454,
 -0.2600000000001046,
 0.0,
 0.0,
 -1.7649999999999864,
 0.8650000000000091,
 0.0,
 ...]

In [49]:
# df_environments = pd.DataFrame(environments_list)
# df_environments.T.head(20)

# df_steps = pd.DataFrame(steps_list)
# df_steps.T.head(20)

In [50]:
sum(rewards_list[max_value_index])

-3.1846666666683383

In [51]:
sum(rewards_list[worst_value_index])

-32.38666666666952

In [52]:
# see the main action difference between max and worst step at what timestep
df_compare = pd.DataFrame(steps_list[max_value_index], columns=['max_steps_action'])
df_compare['worst_steps_action'] = steps_list[worst_value_index]
df_compare['is_same'] = df_compare['max_steps_action'].equals(df_compare['worst_steps_action'])
df_compare.head()

   max_steps_action  worst_steps_action  is_same
0                 2                   2    False
1                 2                   2    False
2                 2                   0    False
3                 0                   2    False
4                 2                   2    False

In [53]:
# get the first action where both are difference
df_compare[df_compare['is_same'] != True]

       max_steps_action  worst_steps_action  is_same
0                     2                   2    False
1                     2                   2    False
2                     2                   0    False
3                     0                   2    False
4                     2                   2    False
...                 ...                 ...      ...
10076                 2                   1    False
10077                 2                   2    False
10078                 2                   0    False
10079                 1                   1    False
10080                 0                   2    False

[10081 rows x 3 columns]

In [105]:
# Investigate why same action but giving different reward value

In [ ]:
import pickle 

with open('sarsa_crypto.pickle', 'rb') as file:
    loaded_data = pickle.load(file)

print(loaded_data)

In [ ]:
import joblib 

joblib.dump(loaded_data, 'sarsa_crypto.joblib')

In [ ]:
loaded_data = joblib.load('sarsa_crypto.joblib')

print(loaded_data)

***Validate the trained SARSA performance***

In [ ]:
# Load the trained SARSA model
model = joblib.load('sarsa_model.joblib')

# Load and preprocess your test data
test_data = load_test_data()  # Replace with your code to load test data
preprocessed_data = preprocess(test_data)  # Replace with your code to preprocess the data

# Evaluate model performance on test data
total_rewards = 0
num_episodes = len(preprocessed_data)

for episode in preprocessed_data:
    state = episode['state']
    done = False
    episode_reward = 0

    while not done:
        action = model.predict(state)
        next_state, reward, done = environment.step(action)
        episode_reward += reward
        state = next_state

    total_rewards += episode_reward

average_reward = total_rewards / num_episodes
print(f"Average reward on test data: {average_reward}")